<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        {{ 'rules.content.military.war.intro' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.war.p5_2_1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.war.p5_2_2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.military.war.p5_2_2_b1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.military.war.p5_2_2_b2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.military.war.p5_2_2_b3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.military.war.p5_2_2_b4' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.military.war.p5_2_2_b5' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.military.war.p5_2_2_b6' | translate"></span>
    </app-rule-paragraph>
</div>
