<div class="lh-dialog-card">
    <h2 class="lh-dialog-title">
        {{ 'settlements.tags.title' | translate }}
        <span class="uppercase">{{ context.data.settlementName }}</span>
    </h2>

    <div class="flex flex-col gap-3">
        <p class="text-lg font-semibold text-[#2d201a]">{{ 'settlements.tags.available' | translate }}</p>
        <div class="flex flex-wrap gap-2">
            @for (tag of tags; track $index) {
                <app-active-tag
                    [type]="tag.type"
                    [text]="tag.text | translate"
                    [action]="tag.action"
                    [disabled]="tag.disabled"
                    (tagWasClicked)="addTag($event, tag)"
                />
            }
        </div>
    </div>

    <div class="flex flex-col gap-3">
        <p class="text-lg font-semibold text-[#2d201a]">{{ 'settlements.tags.selected' | translate }}</p>
        <div class="flex flex-wrap gap-2">
            @if (addedTags.length === 0) {
                <p class="text-base h-8 -mt-2 uppercase font-bold text-[#bdb093] self-center">
                    {{ 'settlements.tags.none' | translate }}
                </p>
            }
            @for (tag of addedTags; track $index) {
                <app-active-tag
                    [type]="tag.type"
                    [text]="tag.text | translate"
                    [action]="tag.action"
                    [disabled]="tag.disabled"
                    (tagWasClicked)="removeTag($event, tag)"
                />
            }
        </div>
    </div>

    <div class="lh-dialog-actions">
        <button type="button" (click)="context.$implicit.complete()" class="lh-dialog-button lh-dialog-button-secondary">
            {{ 'settlements.tags.cancel' | translate }}
        </button>
        <button
            type="button"
            (click)="saveTags()"
            [disabled]="addedTags.length === 0"
            class="lh-dialog-button lh-dialog-button-primary"
        >
            {{ 'settlements.tags.add' | translate }}
        </button>
    </div>
</div>
