:host {
    display: block;
    width: 100%;
}

[tuiTh],
[tuiTd] {
    border-inline-start: none;
    border-inline-end: none;
    background-color: transparent !important;
    overflow: hidden !important;
}

[tuiTable][data-size="s"] [tuiTitle] {
    flex-direction: row;
    gap: 0.375rem;
}
