<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="Village" [level]="3">
        Деревня — это
        <app-rule-link target="Settlement">селение</app-rule-link>
        , основанное после этапа «Лагерь», состоящее из 4-х и более игроков, зарегистрированное на сайте, имеющее все
        основные постройки на поверхности и соответствующее следующим требованиям:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Требования:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Расположение: не далее 8.5 тыс. блоков от нулевой координаты.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Население: от 4-х человек.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <app-rule-link target="Monument" class="ml-2">Монумент</app-rule-link>
        : 1х1х1 блока (ш,д,в) (или согласно патенту на улучшение селения).
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Документы:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ подписанный
        <app-rule-link target="Patent">патент</app-rule-link>
        на разрешение основания деревни от
        <app-rule-link target="Suzerain">сюзерена</app-rule-link>
        ;
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ от 4-х купчих
        <app-rule-link target="Volnost">вольности</app-rule-link>
        .
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Инфраструктура:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ деревенская площадь;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ колодец с питьевой водой;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ тропы между постройками шириной не менее 2-х блоков, где это возможно.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Хозяйство:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ склад, или складское помещение в уже имеющемся здании;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ амбар;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ грядки площадью от 25-ти блоков или загон с не менее чем 4-мя животными.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Дополнительные строения: от 4-х одноэтажных строений.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Оборонительные постройки: отсутствуют.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Преимущества:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Наличие территориального блока [диаметр = 128 блоков].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность объявлять набеги на:
        <app-rule-link target="Homestead">хутора</app-rule-link>
        ,
        <app-rule-link target="Camp">лагеря</app-rule-link>
        ,
        <app-rule-link target="Village">деревни</app-rule-link>
        ,
        <app-rule-link target="Township">посёлки</app-rule-link>
        .
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность получить 1-го случайного торговца.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Чертеж на упрощенный крафт ванильных парусов.
    </app-rule-paragraph>
</div>
