<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <b>3.5.1</b>
        Игрок имеет право согласовать с администрацией в тикете изменение предметов донатного набора на равноценные
        [Материал изготовления например].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.5.2</b>
        Игрок имеет право основать селение. После подачи заявки на хутор или повышения селения игрок создаёт тикет в
        discord для получения территориального блока [Глашатай], который и поставит видимые границы защищенной
        территории.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.5.3</b>
        Все живущие на территории селения обязаны быть приглашены и принять приглашение в селение на сайте.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.5.4</b>
        Игрок имеет доступ ко всем ключевым точкам своей стороны. [Может быть не выполнено, в случае враждебности к
        сюзерену]
    </app-rule-paragraph>
</div>
