<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.special.p3_5_1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.special.p3_5_2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.special.p3_5_3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.special.p3_5_4' | translate"></span>
    </app-rule-paragraph>
</div>
