<div class="flex w-full p-6 pb-20 xl:pb-3 justify-between">
    <div class="flex gap-10 items-center">
        <div class="md:flex font-semibold items-center shrink-0 hidden">
            <img src="/logo.ico" alt="logo" class="size-16" />
        </div>
        <div class="flex flex-col justify-between">
            <div>
                <p class="font-semibold">© lasthearth.ru 2025-2025</p>
                <p>Все права сохранены. Копирование материалов без разрешения администрации запрещено.</p>
            </div>
            <div class="flex sm:gap-4 gap-2 flex-col sm:flex-row">
                <a [routerLink]="['/privacy-policy']" class="self-start">Политика конфиденцильности</a>

                <span class="text-lh-primary hidden sm:block">•</span>

                <a [routerLink]="['/public-offer']" class="self-start">Публичная оферта</a>

                <span class="text-lh-primary hidden sm:block">•</span>

                <a href="https://docs.lasthearth.ru/" target="_blank" class="self-start">Версия 1.1.4 beta от 18.11.2025</a>
            </div>
        </div>
    </div>

    <div class="flex gap-4 ml-4">
        <div class="size-full flex gap-2 justify-center items-center">
            <div class="flex gap-2 flex-col sm:flex-row">
                <div
                    class="flex cursor-pointer justify-center items-center size-10 relative before:absolute before:inset-0 before:bg-linear-to-br before:from-gray-500/20 before:to-gray-800/10 before:backdrop-blur-md before:content-[''] before:opacity-60 before:z-0 before:rounded-xl before:border before:border-white/5"
                >
                    <a
                        class="z-10 nav-button rounded-lg p-2.5 !border-none"
                        href="https://boosty.to/lisov"
                        target="_blank"
                    >
                        <img src="/images/Boosty.svg" alt="Boosty" />
                    </a>
                </div>

                <div
                    class="flex cursor-pointer justify-center items-center size-10 relative before:absolute before:inset-0 before:bg-linear-to-br before:from-gray-500/20 before:to-gray-800/10 before:backdrop-blur-md before:content-[''] before:opacity-60 before:z-0 before:rounded-xl before:border before:border-white/5"
                >
                    <a
                        class="z-10 nav-button rounded-lg p-2.5 !border-none"
                        href="https://www.donationalerts.com/r/lisovn"
                        target="_blank"
                    >
                        <img src="/images/DA.svg" alt="DonationAlerts" />
                    </a>
                </div>
            </div>
            <div class="flex gap-2 flex-col sm:flex-row">
                <div
                    class="flex cursor-pointer justify-center items-center size-10 relative before:absolute before:inset-0 before:bg-linear-to-br before:from-gray-500/20 before:to-gray-800/10 before:backdrop-blur-md before:content-[''] before:opacity-60 before:z-0 before:rounded-xl before:border before:border-white/5"
                >
                    <a
                        class="z-10 nav-button rounded-lg p-2.5 !border-none"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                    >
                        <img src="/images/discord.svg" alt="Discrod" class="size-6" />
                    </a>
                </div>
                <div
                    class="flex justify-center cursor-pointer items-center size-10 relative before:absolute before:inset-0 before:bg-linear-to-br before:from-gray-500/20 before:to-gray-800/10 before:backdrop-blur-md before:content-[''] before:opacity-60 before:z-0 before:rounded-xl before:border before:border-white/5"
                >
                    <a
                        class="z-10 nav-button rounded-lg p-2.5 !border-none"
                        href="https://www.youtube.com/@LISOVCORP"
                        target="_blank"
                    >
                        <img src="/images/youtube.svg" alt="YouTube" class="size-6" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
