<div class="flex flex-col gap-2 w-64 h-auto justify-center items-center cursor-pointer pt-4">
    <div
        class="lg:size-48 md:size-28 size-20 overflow-clip transition-all duration-300 hover:rotate-3 shadow-2xs rounded-2xl hover:shadow-2xl"
    >
        <img [src]="image()" [alt]="title()" class="object-cover object-top size-full" />
    </div>
    <p class="md:text-2xl text-base font-semibold text-lh-primary">{{ title() }}</p>
    <span
        [class.!bg-lh-danger]="selected()"
        class="md:py-2 md:px-4 px-1.5 py-1 bg-lh-accent-3 rounded-full text-neutral-200 font-semibold md:text-lg text-xs"
    >
        {{ price() }}
    </span>
</div>
