<div
    [class.opacity-55]="disabled()"
    [class.pointer-events-none]="disabled()"
    class="inline-flex items-center h-7 font-bold uppercase text-base"
>
    <div
        [style]="backgroundStyle()"
        [class.rounded-lg]="action() === 'custom'"
        [class.rounded-l-lg]="action() !== 'custom'"
        class="flex items-center h-full px-2"
    >
        {{ tag().name }}
    </div>
    @if (action() !== 'custom') {
        <div
            (click)="tagWasClicked.emit(action())"
            [style]="backgroundStyle()"
            class="hover:opacity-70 active:scale-[95%] transition-all duration-300 cursor-pointer flex items-center justify-center h-full rounded-r-lg px-1.5"
        >
            <tui-icon [icon]="getIcon()" class="!text-base" />
        </div>
    }
</div>
