<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_1' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_2' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_3' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_4' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_5' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.actions.diplomacy.peaceful.intro' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>{{ 'rules.content.actions.diplomacy.common.advantages' | translate }}</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.peaceful.adv1' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="5">{{ 'rules.content.actions.diplomacy.peaceful.ransomHomestead' | translate }}</app-rule-paragraph>
    <app-rule-paragraph [level]="5">{{ 'rules.content.actions.diplomacy.peaceful.ransomCamp' | translate }}</app-rule-paragraph>
    <app-rule-paragraph [level]="5">{{ 'rules.content.actions.diplomacy.peaceful.ransomVillage' | translate }}</app-rule-paragraph>
    <app-rule-paragraph [level]="5">{{ 'rules.content.actions.diplomacy.peaceful.ransomTownship' | translate }}</app-rule-paragraph>
    <app-rule-paragraph [level]="5">{{ 'rules.content.actions.diplomacy.peaceful.ransomCity' | translate }}</app-rule-paragraph>
    <app-rule-paragraph [level]="5">{{ 'rules.content.actions.diplomacy.peaceful.ransomRegion' | translate }}</app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.peaceful.adv2' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.peaceful.adv3' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.peaceful.adv4' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>{{ 'rules.content.actions.diplomacy.common.restrictions' | translate }}</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.peaceful.res1' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.peaceful.res2' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.peaceful.res3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.actions.diplomacy.neutral.intro' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>{{ 'rules.content.actions.diplomacy.common.advantages' | translate }}</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.neutral.adv1' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.neutral.adv2' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>{{ 'rules.content.actions.diplomacy.common.restrictions' | translate }}</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.neutral.res1' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.neutral.res2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.actions.diplomacy.aggressive.intro' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>{{ 'rules.content.actions.diplomacy.common.advantages' | translate }}</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.aggressive.adv1' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.aggressive.adv2' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.aggressive.adv3' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>{{ 'rules.content.actions.diplomacy.common.restrictions' | translate }}</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.aggressive.res1' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.aggressive.res2' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.aggressive.res3' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.aggressive.res4' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.actions.diplomacy.aggressive.res5' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_2_statements' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_3_statements' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_4_statements' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_5_statements' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.diplomacy.p3_4_6_statements' | translate"></span>
    </app-rule-paragraph>
</div>
