<div class="background-particles" aria-hidden="true">
    @for (particle of particles; track $index) {
        <span
            class="background-particles__rise"
            [style.left]="particle.left"
            [style.animation-delay]="particle.delay"
            [style.animation-duration]="particle.duration"
            [style.width]="particle.width"
            [style.height]="particle.height"
            [style.color]="particle.color"
            [style.--spark-drift]="particle.drift"
            [style.--spark-rotate]="particle.rotate"
            [style.--spark-life]="particle.life"
            [style.--spark-peak]="particle.peak"
            [style.--spark-tail-length]="particle.tailLength"
        >
            <span
                class="background-particles__spark"
                [style.animation-duration]="particle.flickerDuration"
                [style.animation-delay]="particle.flickerDelay"
            ></span>
        </span>
    }
</div>
