<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <b>5.1.1</b>
        «Набег» может совершаться только в том случае, если хотя бы 2 игрока из селения, на которое он планируется,
        находятся онлайн. В случае с набегом на Хутор или Лагерь, допустимо когда в онлайне 1 человек.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.2</b>
        «Набег» должен быть объявлен за N времени, соответствующее политическому курсу селения цели, до свершения,
        которое будет отсчитываться с момента объявления в чате «Дипломатия» в дискорд.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.3</b>
        Объявление должно быть передано людям селения используя не менее двух упоминаний его игроков.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.4</b>
        Сообщение о готовящемся «набеге» обязано быть подано либо в официальном стиле, либо в стиле намека, который
        нельзя истолковать иначе.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.5</b>
        Время возможности начать «набег» не должно превышать 1.5-а часов реального времени после объявления о нем.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.6</b>
        Длительность проведения «набега» не должна превышать N-часов реального времени, в соответствии с политическим
        курсом селения инициатора.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.7</b>
        «Набег» запрещен в часы с 21:00 по 8:00 МСК. Проходящие набеги должны быть прекращены если наступило время
        запрета, за исключением согласования о продолжении набега со стороной противника.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.8</b>
        «Набег» на одно и то же селение разрешено производить не чаще чем 1 раз в 2 реальных дня.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.9</b>
        Обеим сторонам категорически запрещено ломать блоки под трупами, закапывать или застраивать их за исключением
        прямо предусмотренных механиками набега [пример: засыпание рва в котором оказался труп].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2" anchor="P5_2" class="mt-4 font-bold">
        Правила ведения боевых действий во время состояния «набег» для стороны защищающихся
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.10</b>
        После объявления «набега», запрещается выход из игры с целью сохранить и спрятать ресурсы внутри инвентаря
        игрока.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.11</b>
        Запрещается ставить любые блоки и объекты позволяющие создать преимущество во время набега, за исключением:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Баррикад предусмотренных игрой [игровой объект: колья, баррикады и т.п.] размером не превышающим 2 блока в
        высоту.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Сыпучих материалов, которые можно размещать только осыпая сверху с заранее подготовленных точек.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Взрывчатки любого вида.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.12</b>
        Запрещается деспавн ресурсов.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.13</b>
        Запрещается укреплять любые баррикады установленные во время набега более чем на 50 единиц прочности.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.14</b>
        За набег разрешается установка не более чем трех полос баррикад.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.15</b>
        Запрещается установка темпоральных шестеренок внутри лагеря атакующих.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2" anchor="P5_3" class="mt-4 font-bold">
        Правила ведения боевых действий во время состояния «набег» для стороны атакующих
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.16</b>
        Атакующие обязаны перед нападением соорудить небольшой лагерь [оборона которого, должна так же проходить по
        <app-rule-link target="P5_2">правилам ведения боевых действий для стороны защищающихся</app-rule-link>
        ], не более 10х10х12 блоков.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.17</b>
        Лагерь обязан быть расположен не ближе чем в 100 блоках от территории противника. Если возможности установить
        лагерь нет [море], атакующим разрешается разбить свой лагерь сразу же на побережье, либо на созданной песчаной
        насыпи.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.18</b>
        Лагерем не может выступать селение.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.19</b>
        Атакующие обязаны установить в лагере монумент 1x1x2 [ш, д, в].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.20</b>
        Атакующие обязаны использовать темпоральные шестеренки исключительно внутри своего лагеря, либо вне зоны боевых
        действий [не менее чем за 300 блоков от селения противника/ключевой точки].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.21</b>
        При использовании телепорта терминуса в набеге, атакующие обязаны укреплять любые объекты и блоки внутри лагеря,
        включая монумент, не более, чем на 300 единиц прочности. Переукрепление в процессе набега запрещено.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.22</b>
        Атакующие обязаны признать поражение и прекратить набег, как только будет полностью разрушен монумент в лагере.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.23</b>
        Атакующим запрещается установка любых блоков во время нападения, за исключением:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Деревянных лестниц, на строения являющимися рукотворными и не превышающие в высоту 6-ти блоков. При этом нельзя
        ставить деревянные лестницы находясь в воде, а также ставить лестницу «навесу», подставляя ее под себя и не
        прикрепляя к боковой поверхности.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Специально высеченных осадных машин и сооружений, которые можно ставить только вне помещения. Например: осадный
        щит, за которым могут укрываться стрелки, требушет.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Сыпучих материалов с целью засыпания рвов, создания насыпей в водоемах. Преодоление таких препятствий
        посредством установки блоков земли, или подъем наверх строго запрещено.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Сундуков и сосудов исключительно на полу или земле. Запрещается ставить сундуки и сосуды «навесу».
    </app-rule-paragraph>
    <app-rule-paragraph [level]="3">
        <b>•</b>
        Взрывчатки, для уничтожения живой силы противника [Которая не ломает блоки].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.24</b>
        Атакующим запрещено использование планера.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.25</b>
        Запрещается деспавн ресурсов.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.26</b>
        Запрещено ломать всё, кроме:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Дверей и любых их проявлений.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Плетеного и деревянного забора; каменного забора не превышающего высоту 1 блока.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Крепостные стены разрешается ломать только в местах пролома.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Место пролома — это место, выбранное атакующими для разрушения и не превышающее своим размером площадь 3х3
        блока. Такие места ограничены количеством наличия у атакующих осадных машин типа «требушет». Высеченные
        «требушеты» должны быть представлены администрации заранее для одобрения. При атаке «требушет» должен быть
        развернут не более чем в 30-ти блоках от места пролома. Если для развертывания требушета нет суши, допускается
        его наличие в сундуке на парусной лодке на таком же расстоянии до места пролома [парусную лодку двигать нельзя].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        При атакой требушетом горной фортификации, допускается совершать пролом в фронтальной рукотворной части горы
        размером 4х4 по площади и глубиной от 1-го до 40-а блоков, при учете, что пробивается только первая стена горы.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Установленных защитниками баррикад и насыпей в виде песка и гравия.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Сундуков, сосудов, ящиков и прочих элементов хранения [в том числе разрешается ломать сыродутные печи и
        саркофаги с целью получения ресурсов, находящихся внутри них, при условии возвращения саркофага на место].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.1.27</b>
        Запрещается грабить лут, который представляет из себя элементы промышленности, например: генераторы,
        аккумуляторы, моторы, ветряки, наковальни и прочее, если они поставлены, а не находятся внутри
        сосудов/сундуков/ящиков и т.п. Такой лут можно получить только во время ведения войны.
    </app-rule-paragraph>
</div>
