<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_1.before' | translate"></span>
        <app-rule-link target="Homestead">{{ 'rules.content.terms.homesteadNominative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_1.mid1' | translate"></span>
        <app-rule-link target="Camp">{{ 'rules.content.terms.campNominative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_1.mid2' | translate"></span>
        <app-rule-link target="Key point">{{ 'rules.content.terms.keyPointAccusative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_1.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_2.before' | translate"></span>
        <app-rule-link target="Political course">{{ 'rules.content.terms.politicalCourseDative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_2.mid1' | translate"></span>
        <app-rule-link target="Homestead">{{ 'rules.content.terms.homesteadAccusative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_2.mid2' | translate"></span>
        <app-rule-link target="Key point">{{ 'rules.content.terms.keyPointAccusative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_2.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_4' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_5' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_6.before' | translate"></span>
        <app-rule-link target="Key point">{{ 'rules.content.terms.keyPointAccusative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_6.mid1' | translate"></span>
        <app-rule-link target="Homestead">{{ 'rules.content.terms.homesteadAccusative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_6.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_7' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_8' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_9' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2" anchor="P5_2" class="mt-4 font-bold">
        {{ 'rules.content.military.raid.defendersHeading' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_10' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_11' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_11_b1' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_11_b2' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_11_b3' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_12' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_13' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_14' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_15' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2" anchor="P5_3" class="mt-4 font-bold">
        {{ 'rules.content.military.raid.attackersHeading' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_16.before' | translate"></span>
        <app-rule-link target="P5_2">{{ 'rules.content.military.raid.defendersRulesLink' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_16.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_17' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_18' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_19.before' | translate"></span>
        <app-rule-link target="Monument">{{ 'rules.content.terms.monumentLower' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_19.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_20.before' | translate"></span>
        <app-rule-link target="Key point">{{ 'rules.content.terms.keyPointGenitive' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_20.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_21.before' | translate"></span>
        <app-rule-link target="Monument">{{ 'rules.content.terms.monumentLower' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_21.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_22.before' | translate"></span>
        <app-rule-link target="Monument">{{ 'rules.content.terms.monumentLower' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_22.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_23' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_23_b1' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_23_b2' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_23_b3' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_23_b4' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_23_b5' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_24' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_25' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_26' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_26_b1' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_26_b2' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_26_b3' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_26_b4' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_26_b5' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.military.raid.p5_1_26_b6' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.military.raid.p5_1_27.before' | translate"></span>
        <app-rule-link target="War">{{ 'rules.content.terms.warGenitive' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.military.raid.p5_1_27.after' | translate"></span>
    </app-rule-paragraph>
</div>
