<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.p2_2_1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.p2_2_2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.p2_2_3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.p2_2_4' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.p2_2_5' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.p2_2_6' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.p2_2_7' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2" class="mt-4">
        <span [innerHTML]="'rules.content.settlements.defensive.levelsHeading' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Defend1" [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.level1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Defend2" [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.level2Heading' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.settlements.defensive.variant1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <span [innerHTML]="'rules.content.settlements.defensive.variant2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Defend3" [level]="2">
        <span [innerHTML]="'rules.content.settlements.defensive.level3' | translate"></span>
    </app-rule-paragraph>
</div>
