<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <b>2.2.1</b>
        Размещение дверей и ворот должно соответствовать архитектурной логике и предусмотренным для этого конструкциям и
        местам. Запрещено устанавливать двери в случайных, нефункциональных или нелогичных местах. Размещение двух
        идущих друг за другом дверей допускается только в случае, если это архитектурно оправдано: например, они ведут в
        разные помещения или находятся на развилке и т.п.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>2.2.2</b>
        Запрещается рытье рвов друг за другом, глубиной более 64-х блоков и шириной более 12-ти блоков или рвов которые
        невозможно, либо затрудненно засыпать.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>2.2.3</b>
        Запрещается использовать непроходимую оборону. Например: Тоннели - жаровни. [Оценивается администрацией]
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>2.2.4</b>
        Запрещается использовать в качестве обороны ресурсов скрывание их в места внутри защищенной территории, которые
        допускают «обход» защиты и никоем образом не предполагают хранение в них. Например: закапывать сундуки и сосуды
        под землю наглухо; замуровывать в стены наглухо; использовать для хранения кассы и торгоматы. [Спорные моменты
        оценивает администрация]
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>2.2.5</b>
        Запрещается укреплять любые средства хранения более чем на 300 единиц прочности.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>2.2.6</b>
        Запрещается укреплять блоки монумента более чем на 300 единиц прочности.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <b>2.2.7</b>
        Запрещается использовать для хранения ресурсов кассы и торгоматы. Размещение торгоматов и касс должно
        соответствовать предусмотренным для этого местам, например: рыночные площади, торговые лавки.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2" class="mt-4">
        <b>Уровни оборонительных сооружений</b>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Defend1" [level]="2">
        <b>Уровень 1</b>
        — бревенчатые стены, не превышающие высоту 4-х блоков и окружающие площадь не более 36х36 блоков.
        <br />
        Составное оборонительное строение: деревянная башня, либо форт, возможные как хранилище главных ресурсов и жилье
        правителя, высотой не более 23-х блоков не считая кровлю, площадью не более 17х17 блоков. С предусмотренной
        возможностью для будущего расширения.
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Defend2" [level]="2">
        <b>Уровень 2</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Вариант 1</b>
        — каменные стены, не превышающие высоту 9-ти блоков и окружающие все селение или его часть. Составное
        оборонительное строение: каменная башня, либо форт, либо донжон, замок и т.п. возможные как хранилище главных
        ресурсов и жилье правителя, высотой не более 29-ти блоков не считая кровлю, площадью не более 29х29 блоков. С
        предусмотренной возможностью для будущего расширения.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Вариант 2</b>
        — использование горной фортификации, по средством обустройства её фронтальной рукотворной части, которая не
        должна быть менее чем 20х20 блоков по площади с явным входом в нее. Обустройство горы допустимо с любого этапа,
        однако не должно включать в себя до достижения 2-го уровня обороны хранение ресурсов внутри горы и установку
        дверей/ворот.
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Defend3" [level]="2">
        <b>Уровень 3</b>
        — любые оборонительные строения на всей площади селения, не нарушающие правил сервера.
    </app-rule-paragraph>
</div>
