<form [formGroup]="form" class="flex flex-col gap-6 w-full" (ngSubmit)="onSubmit.next()">
    <div class="flex flex-col gap-1">
        <div class="flex text-2xl self-center">
            <p>Улучшение селения из "Города" в "Провинцию"</p>
        </div>
        <p class="text-xl">
            Какое будет название?
            <span class="text-lh-danger">*</span>
            <lh-hint
                hintText="Это будет официальное название вашего образования. Оно должно быть логичным и не содержать нецензурной
            лексики."
            />
        </p>
        <lh-input placeholder="Введите название..." formControlName="name" />
    </div>

    <div class="flex flex-col gap-1">
        <p class="text-xl">
            Координаты расположения
            <span class="text-lh-danger">*</span>
            <lh-hint hintText="Игровые координаты где располагается образование в виде: х: значение, z: значение." />
        </p>
        <lh-input placeholder="Введите x..." type="inputNumber" formControlName="x" />
        <lh-input placeholder="Введите z..." type="inputNumber" formControlName="z" />
    </div>

    <div class="flex flex-col gap-1">
        <p class="text-xl">
            Выберите ваш дипломатический статус
            <span class="text-lh-danger">*</span>
            <lh-hint hintText="Дипломатический статус должен строго исполняться образованием."></lh-hint>
        </p>
        <lh-input formControlName="diplomacy" type="select" [items]="diplomacy" placeholder="Выберите тип..." />
    </div>

    <div class="flex flex-col gap-1">
        <p class="text-xl">
            Описание или лор образования
            <span class="text-lh-danger">*</span>
            <lh-hint
                hintText="Опишите историю или то, чем является ваше образование. Это поможет новым игрокам вступить именно к вам."
            />
        </p>
        <lh-input placeholder="Введите историю..." type="textarea" formControlName="description" />
    </div>

    <div *ngFor="let key of fileFields">
        <p class="text-xl">
            {{ getLabelForKey(key) }}
            <span class="text-lh-danger">*</span>
        </p>

        <label *ngIf="!form.controls[key].value" tuiInputFiles>
            <input accept="image/*" tuiInputFiles [formControl]="form.controls[key]" class="border-lh-primary!" />
            <ng-template tuiInputFilesContent>
                <span class="text-gray-600">Добавить изображение...</span>
            </ng-template>
        </label>

        <tui-files class="tui-space_top-1">
            <ng-container *ngIf="form.controls[key].hasError('maxFileSize') && form.controls[key].value as file">
                <tui-file state="error" [file]="file" (remove)="removeFile(key)"></tui-file>
                <tui-error class="tui-space_bottom-2" [error]="'Файл слишком большой (макс. 2МБ)'"></tui-error>
            </ng-container>

            <ng-container *ngIf="form.controls[key].value | tuiFileRejected: { accept: 'image/*' } | async as file">
                <tui-file state="error" [file]="file" (remove)="removeFile(key)"></tui-file>
                <tui-error class="tui-space_bottom-2" [error]="'Неверный формат файла'"></tui-error>
            </ng-container>

            <tui-file
                *ngIf="form.controls[key].valid && form.controls[key].value as file"
                [file]="file"
                (remove)="removeFile(key)"
            ></tui-file>
        </tui-files>
    </div>

    <button
        [tuiHint]="
            form.invalid ? 'Заполните все обязательные поля формы перед отправкой.  ' : 'Форма готова к отправке.'
        "
        tuiHintDirection="right"
        type="submit"
        class="text-white w-20 h-10 text-sm! self-start cursor-pointer bg-lh-primary-2 rounded-lg py-1.5 px-2.5 mt-2 font-bold hover:text-lh-primary hover:bg-[#e2d7bb] border transition-all duration-300 disabled:text-gray-300 disabled:bg-lh-primary disabled:cursor-not-allowed"
        [disabled]="form.invalid || isLoading"
    >
        @if (isLoading) {
            <tui-loader [showLoader]="isLoading" />
        } @else {
            Основать
        }
    </button>
</form>
