:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    width: 100%;
    overflow: scroll;
    background-image: url('/images/Group_4_3.webp');
    background-repeat: repeat;
    background-size: cover;
    ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Advent Pro', serif;
}

.welcome {
    -webkit-box-shadow: 0px 12px 65px 23px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 12px 65px 23px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 12px 65px 23px rgba(0, 0, 0, 0.31);
    will-change: transform;
    transition: transform 1.1s cubic-bezier(0.87, -0.35, 0.19, 1.44);
    transform: translate3d(0, 0, 0);
}

.scroll {
    transform: translate3d(0, -115%, 0);
    pointer-events: none;
}
