:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    width: 100%;
    overflow: scroll;
    background-image: url("/images/Group_4_3.webp");
    background-repeat: repeat;
    background-size: cover;
    ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "Advent Pro", serif;
}

.welcome {
    transition: all 2.5s 0.1s ease-in-out;
    -webkit-box-shadow: 0px 12px 65px 23px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 12px 65px 23px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 12px 65px 23px rgba(0, 0, 0, 0.31);
}

.scroll {
    transform: translateY(-2000px);
}
