<div class="flex flex-col gap-3">
    <app-rule-section sectionId="homestead" parentId="Types and statuses" title="rules.content.settlements.types.homestead.title" [level]="2">
        <app-homestead (scrollTo)="scrollToElement($event)" />
    </app-rule-section>

    <app-rule-section sectionId="camp" parentId="Types and statuses" title="rules.content.settlements.types.camp.title" [level]="2">
        <app-camp (scrollTo)="scrollToElement($event)" />
    </app-rule-section>

    <app-rule-section sectionId="village" parentId="Types and statuses" title="rules.content.settlements.types.village.title" [level]="2">
        <app-village (scrollTo)="scrollToElement($event)" />
    </app-rule-section>

    <app-rule-section sectionId="township" parentId="Types and statuses" title="rules.content.settlements.types.township.title" [level]="2">
        <app-township (scrollTo)="scrollToElement($event)" />
    </app-rule-section>

    <app-rule-section sectionId="city" parentId="Types and statuses" title="rules.content.settlements.types.city.title" [level]="2">
        <app-city (scrollTo)="scrollToElement($event)" />
    </app-rule-section>

    <app-rule-section sectionId="region" parentId="Types and statuses" title="rules.content.settlements.types.region.title" [level]="2">
        <app-region (scrollTo)="scrollToElement($event)" />
    </app-rule-section>

    <app-rule-section sectionId="exclaveCenter" parentId="Types and statuses" title="rules.content.settlements.types.exclaveCenter.title" [level]="2">
        <app-exclave-center (scrollTo)="scrollToElement($event)" />
    </app-rule-section>

    <app-rule-section sectionId="suzerain" parentId="Types and statuses" title="rules.content.settlements.types.suzerain.title" [level]="2">
        <app-suzerain (scrollTo)="scrollToElement($event)" />
    </app-rule-section>
</div>
