<div class="flex flex-col gap-8">
    <p class="text-3xl lg:text-4xl font-bold">Как начать играть?</p>
    <div class="flex gap-8 items-start">
        <p class="text-8xl font-extrabold text-[#bdb093] min-w-12 leading-20">1</p>
        <div class="flex flex-col gap-1">
            <p class="text-lh-primary text-2xl/7.5 font-bold">Скачайте игру версии 1.21.5</p>
            <p class="text-lh-primary text-xl/7.5">
                Приобрести игру можно на
                <a
                    class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                    href="https://www.vintagestory.at/store/category/1-game-account-game-servers/"
                    target="_blank"
                >
                    официальном сайте
                </a>
                (рекомендуется) или временно попробовать на
                <a
                    class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                    href="https://fplay.su/"
                    target="_blank"
                >
                    fplay.su
                </a>
                (рекомендуем приобрести лицензию)
            </p>
        </div>
    </div>

    <div class="flex gap-8 items-start">
        <p class="text-8xl font-extrabold text-[#bdb093] min-w-12 leading-20">2</p>
        <div class="flex flex-col gap-1">
            <p class="text-lh-primary text-2xl/7.5 font-bold">Добавьте наш сервер</p>
            <p class="text-lh-primary text-xl/7.5">
                Во вкладке сетевая игра добавьте наш сервер используя:
                <br />
                IP:
                <tui-copy><b>play.lasthearth.ru</b></tui-copy>
                <br />
                Пароль:
                <tui-copy class="copy-word"><b>djA2n313IN728Olq99SlBr</b></tui-copy>
            </p>
        </div>
    </div>

    <div class="flex gap-8 items-start">
        <p class="text-8xl font-extrabold text-[#bdb093] min-w-12 leading-20">3</p>
        <div class="flex flex-col gap-1">
            <p class="text-lh-primary text-2xl/7.5 font-bold">Играйте</p>
            <p class="text-lh-primary text-xl/7.5">
                Выполнив все шаги - вы можете приступить к полноценной игре. Если у вас возникнут какие-либо сложности,
                вы всегда можете попросить помощи у других игроков или у администрации. Узнать свой ответ быстро можно у
                нас в
                <a
                    class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                    href="https://discord.gg/FZb7SGrSFy"
                    target="_blank"
                >
                    discord
                </a>
                .
            </p>
        </div>
    </div>
</div>
