<div class="flex flex-col gap-6 justify-center items-center">
    <h2 class="text-2xl/7.5 font-bold text-lh-primary text-center">
        {{ context.data.title }}
    </h2>

    <p class="text-base text-lh-primary text-center max-w-md">
        {{ context.data.text }}
    </p>

    <div class="flex gap-4">
        <button
            type="button"
            (click)="cancel()"
            class="text-lh-primary rounded-lg! text-sm font-bold cursor-pointer bg-transparent py-2.5 px-4 hover:bg-neutral-100 active:bg-neutral-100 transition-all duration-200"
        >
            Отмена
        </button>
        <button
            type="button"
            (click)="confirm()"
            class="text-white text-sm font-bold cursor-pointer bg-lh-danger rounded-lg py-2.5 px-4 hover:bg-lh-danger-hover active:bg-lh-danger-active transition-all duration-200"
        >
            Подтвердить
        </button>
    </div>
</div>
