<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <b>3.1.1</b>
        Воровство — это скрытное проникновение не более 2-х или 3-х игроков, в зависимости от политического курса
        селения инициатора, на территорию селения или ключевой точки с целью кражи ресурсов. Данное действие должно
        осуществляться строго в соответствии с установленными правилами.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.1.2</b>
        Вор имеет право:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">• Разбивать и открывать/вскрывать категорически только:</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ Двери, люки, ворота.</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ Окна (в виде стекла, заборов и иных проявлений, которые можно считать окнами в строении и выбить, взломать
        подручными средствами).
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ Сундуки, ящики, сосуды, бочки, корзинки, глыбы камня [из мода "Карьер"], кусты ягод.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">• Угонять/разбирать любые транспортные средства.</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Размещать, но не снимать, исключительно веревочные лестницы только на рукотворных постройках.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Во время грабежа вор может быть защищен исключительно кожаной, медвежьей, стеганой броней или стеганной броней
        сшитой на заказ. Наличие брони не является обязательным.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Вор может защищаться исключительно в случае обнаружения и получения первого урона, но не имеет права
        инициировать нападение первым, а также вести преследование жертвы. Вор обязан при получении первого урона —
        начать незамедлительное отступление с территории селения.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Вор имеет право на сбор любого урожая и кражу скота посредством клеток [убийство скота запрещается].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.1.3</b>
        Вор обязан:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Находиться онлайн на протяжении всего процесса воровства и не покидать игру, за исключением непредвиденных
        крашей или рестартов сервера.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Совершать грабеж одной и той же цели не чаще, чем 1 раз в реальные 4 часа. Откат действует на всех игроков
        состоящих в селении вора.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Совершать грабеж исключительно при нахождении потенциальной цели в сети [для Хуторов, Лагерей, Деревень - 1
        игрок в сети; для Поселков и Городов - минимум 2 игрока в сети, для Региональной провинции - минимум 3 игрока в
        сети, для Ключевой точки - не менее 6-ти игроков от всей стороны Сюзерена]. Территориальное нахождение цели при
        проведении грабежа не имеет значения.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Вор имеет право доводить до конца уже начатый грабеж, если в процессе цель вышла из сети, но после выхода
        цели, вор не имеет право ломать абсолютно никакие блоки и объекты.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Вору запрещается использовать любой инструмент чизла на чужой территории и в процессе воровства.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Вору запрещается использовать темпоральные шестеренки в процессе воровства.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Вору запрещается укреплять любые объекты и блоки в процессе воровства.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Вору запрещается носить на спине сундуки, бочки, ящики, сосуды и дупла.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Вор обязан в начале совершения воровства сделать скриншоты: своего инвентаря; брони на своем персонаже; списка
        игроков, которые находятся в онлайне; Приветствуются откаты совершения воровства.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Вору запрещен выход из своего селения для совершения воровства и возвращение обратно в свое селение, для
        обхода дипломатического курса, отката на воровство и дипломатических заявлений селения.
    </app-rule-paragraph>
</div>
