<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="P1.1">
        <span [innerHTML]="'rules.content.base.p1_1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.2">
        <span [innerHTML]="'rules.content.base.p1_2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.3">
        <span [innerHTML]="'rules.content.base.p1_3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.4">
        <span [innerHTML]="'rules.content.base.p1_4' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.5">
        <span [innerHTML]="'rules.content.base.p1_5' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.6">
        <span [innerHTML]="'rules.content.base.p1_6' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.7">
        <span [innerHTML]="'rules.content.base.p1_7' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.8">
        <span [innerHTML]="'rules.content.base.p1_8' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.9">
        <span [innerHTML]="'rules.content.base.p1_9' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.10">
        <span [innerHTML]="'rules.content.base.p1_10.before' | translate"></span>
        <app-rule-link target="P3">{{ 'rules.content.base.p1_10.linkP3' | translate }}</app-rule-link>
        <app-rule-link target="P5">{{ 'rules.content.base.p1_10.linkP5' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.base.p1_10.after' | translate"></span>
        <app-rule-link target="Settlement">{{ 'rules.content.terms.settlement' | translate }}</app-rule-link>
        <span>.</span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.11">
        <span [innerHTML]="'rules.content.base.p1_11' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.12">
        <span [innerHTML]="'rules.content.base.p1_12.before' | translate"></span>
        <app-rule-link target="Settlement">{{ 'rules.content.terms.settlementGenitivePlural' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.base.p1_12.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.13">
        <span [innerHTML]="'rules.content.base.p1_13.start' | translate"></span>
        <app-rule-link target="Settlement">{{ 'rules.content.terms.settlement' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.base.p1_13.middle' | translate"></span>
        <app-rule-link target="Political course">{{ 'rules.content.terms.politicalCourse' | translate }}</app-rule-link>
        <span>.</span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.14">
        <span [innerHTML]="'rules.content.base.p1_14.start' | translate"></span>
        <app-rule-link target="Settlement">{{ 'rules.content.terms.settlementPrepositional' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.base.p1_14.end' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.15">
        <span [innerHTML]="'rules.content.base.p1_15' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.16">
        <span [innerHTML]="'rules.content.base.p1_16' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.16.1">
        <span [innerHTML]="'rules.content.base.p1_16_1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.16.2">
        <span [innerHTML]="'rules.content.base.p1_16_2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="P1.17">
        <span [innerHTML]="'rules.content.base.p1_17' | translate"></span>
    </app-rule-paragraph>
</div>
