<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.espionage.p3_3_1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.espionage.p3_3_2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.espionage.p3_3_3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.espionage.p3_3_4.before' | translate"></span>
        <app-rule-link target="P3_1">{{ 'rules.content.actions.espionage.theftRulesLink' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.actions.espionage.p3_3_4.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.espionage.p3_3_5' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.espionage.p3_3_6' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.espionage.p3_3_7' | translate"></span>
    </app-rule-paragraph>
</div>
