<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <b>3.3.1</b>
        Шпионы — люди внедренные в чужие селения для выполнения агентурных действий.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.3.2</b>
        Шпионаж может проводиться при любом политическом курсе селения.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.3.3</b>
        Шпион может быть участником во время любых военных действий на стороне селения на которое он работает, или на
        стороне селения, где он является шпионом.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.3.4</b>
        Шпион может украсть у поселения в которое он внедрен ресурсы, но соблюдая:
        <app-rule-link target="P3_1">Правила воровства</app-rule-link>
        [При этом в сети и на территории должен находиться как минимум 1 игрок, входящий в состав селения, не являющийся
        шпионом].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.3.5</b>
        Шпион может открыть ворота во время осады при ведении войны или набега. Подразумеваются только первые, внешние
        ворота. Открытие ворот кроме них - запрещено.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.3.6</b>
        Шпион может передавать любую разведывательную информацию.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.3.7</b>
        Любые иные действия шпиона являются запрещенными.
    </app-rule-paragraph>
</div>
