<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <b>3.4.1</b>
        Политический курс не распространяется на борьбу за ключевые точки.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <b>3.4.2</b>
        Политический курс может быть изменен 1 раз в 5 недель реального времени.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <b>3.4.3</b>
        Для смены политического курса необходимо создать тикет-запрос в discord, а так же, после одобрения запроса,
        сделать дипломатическое заявление.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <b>3.4.4</b>
        После смены политического курса, на селение накладывается откат в 24 часа реального времени на воровские и
        военные действия.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <b>3.4.5</b>
        Виды политических курсов:
    </app-rule-paragraph>
    <app-rule-paragraph [level]="3">
        <b>3.4.5.1</b>
        Миролюбивый:
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>Преимущества:</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При объявлении набега на миролюбивое селение, данное селение имеет право откупиться валютой в размере средней
        цены 100 купчих вольности, вплоть до следующего объявления. Соглашение атакующих не требуется.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При объявлении набега на миролюбивое селение, минимальное время с момента объявления до начала боевых действий
        должно быть не менее 40 минут.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При объявлении набега на миролюбивое селение, для начала грабежа ресурсов, необходимо уничтожить не менее 1/2
        монумента селения или больше.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При совершении воровства в сторону миролюбивого селения, откат до следующего совершения воровства на это
        селение увеличивается в 2 раза.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>Лишения:</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • Запрещается участвовать в любых воровских действиях, а так же совершать воровство "чужими руками".
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • Запрещается инициировать набег и войну, а так же участвовать в боевых действиях на стороне союзников ни в
        какой роли [в том числе роли снабжения].
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • Запрещаются убийства других игроков на своей территории, за исключением боевых действий и воровства, при
        наличии доказательств.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>3.4.5.2</b>
        Нейтральный:
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>Преимущества:</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При объявлении набега на нейтральное селение, минимальное время с момента объявления до начала боевых действий
        должно быть не менее 20 минут.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При объявлении набега нейтральным селением, максимальное время длительности набега не более 3-х часов.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При объявлении набега на нейтральное селение, для начала грабежа ресурсов, необходимо уничтожить не менее 1/3
        монумента селения или больше.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>Лишения:</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • Запрещается инициировать набег и войну, но разрешено участвовать в боевых действиях на стороне союзников.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • Запрещается инициировать воровство своими руками, но разрешено проведение воровства "чужими руками" при
        наличии физического документа - контракта внутри игры [покупка услуг на стороне].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>3.4.5.3</b>
        Агрессивный:
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>Преимущества:</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • Разрешено инициирование набега, войн и воровства, а так же участие в них на стороне союзников.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • Разрешено совершать воровство группой численностью до 3-х человек включительно.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При объявлении набега агрессивным селением, максимальное время длительности набега не более 4-х часов.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        <b>Лишения:</b>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При объявлении набега на агрессивное селение, минимальное время с момента объявления до начала боевых действий
        должно быть не менее 10 минут.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • Игрока агрессивного селения имеют право убить и собрать его труп на его же территории при любых
        обстоятельствах, в том числе при воровстве.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="4">
        • При объявлении набега на агрессивное селение, для начала грабежа ресурсов, нет необходимости уничтожать
        монумент селения.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.4.2</b>
        Дипломатические заявления - заявления от исключительно глав селений в дипломатическом канале discord,
        соблюдающие официальный стиль и нормы сообщения.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <b>3.4.3</b>
        Дипломатическое заявление обязано иметь в себе: название, суть, подписи и игровую дату. Подписью считается
        сообщение в ветке заявления "Подписываю Ник".
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <b>3.4.4</b>
        Любое дипломатическое заявление имеет свою силу и последствия. [суды]
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <b>3.4.5</b>
        Дипломатическое заявление [документ], в котором закреплены последствия его нарушения одной из подписавших
        сторон, предусматривает применение этих последствий непосредственно к нарушителю, даже если такие меры выходят
        за рамки установленных правил.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <b>3.4.6</b>
        Дипломатическое заявление [документ] не может быть изменено в обход соглашений касаемых изменений в этом
        документе.
    </app-rule-paragraph>
</div>
