<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="Township" [level]="3">
        Посёлок — это
        <app-rule-link target="Settlement">селение</app-rule-link>
        , основанное после этапа «Деревня», состоящее из 5-ти и более игроков, зарегистрированное на сайте, имеющее все
        основные постройки на поверхности и соответствующее следующим требованиям:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Требования:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Расположение: не далее 8.5 тыс. блоков от нулевой координаты.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Население: от 5-ти человек.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <app-rule-link target="Monument" class="ml-2">Монумент</app-rule-link>
        : 1х1х1 блока (ш,д,в) (или согласно патенту на улучшение селения).
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Документы: от 5-ти купчих
        <app-rule-link target="Volnost">вольности</app-rule-link>
        .
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Инфраструктура:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ сельская площадь;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ колодец с питьевой водой;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ тропы между постройками шириной не менее 2-х блоков, где это возможно.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Хозяйство:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ склад, или складское помещение в уже имеющемся здании;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ амбар;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ грядки площадью от 36-ти блоков.</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Дополнительные строения:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 4-х одноэтажных строений;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 1-го двухэтажного строения;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ здание религиозного или научного или экономического или культурного направления.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Промышленность:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 1-й мастерской [кожевенная, углежог, ткацкая и т.п.];</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 1-й кузницы.</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Преимущества:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Наличие территориального блока [диаметр = 164 блока].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность объявлять набеги на:
        <app-rule-link target="Homestead">хутора</app-rule-link>
        ,
        <app-rule-link target="Camp">лагеря</app-rule-link>
        ,
        <app-rule-link target="Village">деревни</app-rule-link>
        ,
        <app-rule-link target="Township">посёлки</app-rule-link>
        ,
        <app-rule-link target="City">города</app-rule-link>
        .
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность возведения
        <app-rule-link target="Defend1">оборонительных построек</app-rule-link>
        1-го уровня.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Чертеж для улучшенных парусов.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Право получить льготный кредит от
        <app-rule-link target="Suzerain">сюзерена</app-rule-link>
        под 10% годовых [Может быть не выполнено, в случае враждебности к сюзерену].
    </app-rule-paragraph>
</div>
