.copy-word {
    word-wrap: anywhere;
}

tui-copy ::ng-deep .t-content {
    -webkit-mask: none !important;
    mask: none !important;
    overflow: visible !important;
    line-height: 1.5 !important;
}
