<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_4' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_5' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_6' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_7' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_8' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_9' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_10' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_11' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_12' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_13' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_14' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_15' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.admin.p6_16' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.admin.p6_16_1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.admin.p6_16_2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.admin.p6_16_3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.admin.p6_16_4' | translate"></span>
    </app-rule-paragraph>
</div>
