@let invitations = invitations$ | async;
@let userVerifications = userVerifications$ | async;
@let settlementVerifications = settlementVerifications$ | async;
@let isAuth = userService.authState$ | async;

<div class="flex xl:flex-col gap-2 z-300!">
    <a
        [routerLink]="['/profile/how-play']"
        routerLinkActive="nav-button--active"
        class="nav-button size-11!"
        [title]="'player.howToPlay.title' | translate"
        [attr.aria-label]="'player.howToPlay.title' | translate"
    >
        <tui-icon icon="@tui.gamepad" />
    </a>
    <a
        [routerLink]="['/profile/stats']"
        routerLinkActive="nav-button--active"
        class="nav-button size-11!"
        [title]="'player.statistics.title' | translate"
        [attr.aria-label]="'player.statistics.title' | translate"
    >
        <tui-icon icon="@tui.chart-no-axes-combined" />
    </a>
    @if (isAuth) {
        <a
            [routerLink]="['/profile/settlement']"
            routerLinkActive="nav-button--active"
            class="relative nav-button size-11!"
            [title]="'player.settlement.label' | translate"
            [attr.aria-label]="'player.settlement.label' | translate"
        >
            <tui-icon icon="@tui.castle" />
            @if (invitations?.length) {
                <tui-pulse tuiHintAppearance="floating" class="!absolute !top-0.5 !right-0.5 !scale-110" />
            }
        </a>
        <a
            [routerLink]="['/profile/style']"
            routerLinkActive="nav-button--active"
            class="nav-button size-11!"
            [title]="'player.style.title' | translate"
            [attr.aria-label]="'player.style.title' | translate"
        >
            <tui-icon icon="@tui.palette" />
        </a>
        <a
            [routerLink]="['/profile/referral']"
            routerLinkActive="nav-button--active"
            class="nav-button size-11!"
            [title]="'player.referral.title' | translate"
            [attr.aria-label]="'player.referral.title' | translate"
        >
            <tui-icon icon="@tui.user-plus" />
        </a>
    }
    @if (isAuth && isAdmin()) {
        <a
            [routerLink]="['/profile/admin']"
            routerLinkActive="nav-button--active"
            class="relative nav-button size-11!"
            [title]="'player.role.admin' | translate"
            [attr.aria-label]="'player.role.admin' | translate"
        >
            <tui-icon icon="@tui.shield" />
            @if (userVerifications?.length || settlementVerifications?.length) {
                <tui-pulse
                    tuiHintAppearance="floating"
                    class="!absolute !top-0.5 !right-0.5 !scale-110"
                />
            }
        </a>
    }
</div>
