@let invitations = invitations$ | async;
@let userVerifications = userVerifications$ | async;
@let settlementVerifications = settlementVerifications$ | async;
@let isAuth = userService.authState$ | async;

<div class="flex xl:flex-col gap-2 z-300!">
    <button
        [routerLink]="['/profile/how-play']"
        [ngClass]="{ 'nav-button--active': select === 'how-play' }"
        class="nav-button size-11!"
    >
        <tui-icon icon="@tui.gamepad" />
    </button>
    <button
        [routerLink]="['/profile/stats']"
        [ngClass]="{ 'nav-button--active': select === 'stats' }"
        class="nav-button size-11!"
    >
        <tui-icon icon="@tui.chart-no-axes-combined" />
    </button>
    @if (isAuth) {
        <button
            [routerLink]="['/profile/settlement']"
            [ngClass]="{ 'nav-button--active': select === 'settlement' }"
            class="relative nav-button size-11!"
        >
            <tui-icon icon="@tui.castle" />
            @if (invitations?.length) {
                <tui-pulse tuiHintAppearance="floating" class="!absolute !top-0.5 !right-0.5 !scale-110" />
            }
        </button>
        <button
            [routerLink]="['/profile/referral']"
            [ngClass]="{ 'nav-button--active': select === 'referral' }"
            class="nav-button size-11!"
        >
            <tui-icon icon="@tui.user-plus" />
        </button>
    }
    <button
        [routerLink]="isAuth && isAdmin() ? ['/profile/admin'] : ''"
        [class.!hidden]="!isAdmin()"
        [ngClass]="{ 'nav-button--active': select === 'admin' }"
        class="relative nav-button size-11!"
    >
        <tui-icon icon="@tui.shield" />
        <tui-pulse
            *ngIf="userVerifications?.length || settlementVerifications?.length"
            tuiHintAppearance="floating"
            class="!absolute !top-0.5 !right-0.5 !scale-110"
        />
    </button>

    <button
        (click)="openTicketDialog()"
        class="nav-button size-11!"
        [attr.aria-label]="'ticket.button' | translate"
        title="{{ 'ticket.button' | translate }}"
    >
        <tui-icon icon="@tui.ticket" />
    </button>
</div>
