<div class="text-lh-primary flex flex-col gap-6 p-6">
    <p class="text-4xl font-bold">Ответы на частые вопросы</p>

    <!-- 1. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isAboutServer = !isAboutServer">
            <p class="text-2xl text-lh-primary font-bold">1. Что это за сервер? Как понять подходит ли он мне?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isAboutServer }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isAboutServer">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    <b>Last Hearth</b> - это лайт-RP сервер по игре Vintage Story с упором на атмосферу средневекового
                    выживания, экономики и взаимодействия игроков.
                </p>
                <p class="text-xl pl-4">Сервер подходит тем, кто любит:</p>
                <p class="text-xl pl-8">
                    <span class="font-bold">•</span> осознанную игру с правилами и социальными механиками;
                </p>
                <p class="text-xl pl-8"><span class="font-bold">•</span> строительство, торговлю и дипломатию;</p>
                <p class="text-xl pl-8"><span class="font-bold">•</span> ведение войн, набегов и грабежей;</p>
                <p class="text-xl pl-8">
                    <span class="font-bold">•</span> развитие поселений от маленького лагеря до крупной региональной
                    провинции.
                </p>
                <p class="text-2xl pl-4 font-bold">⚠️ Дисклеймер ⚠️</p>
                <p class="text-2xl pl-4 font-bold">
                    У нас строгие правила и RP-элементы. Если вам ближе хаотичный PvP, "гриферство", либо полноценный
                    PvE, то, возможно, этот сервер вам не подойдёт.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 2. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isHowToPlay = !isHowToPlay">
            <p class="text-2xl text-lh-primary font-bold">2. Как мне присоединиться к игре на сервере?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isHowToPlay }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isHowToPlay">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">Чтобы попасть на <b>Last Hearth</b>:</p>
                <p class="text-xl pl-8"><span class="font-bold">1.</span> Зарегистрируйтесь на сайте.</p>
                <p class="text-xl pl-8"><span class="font-bold">2.</span> Заполните анкету для верификации.</p>
                <p class="text-xl pl-8"><span class="font-bold">3.</span> Дождитесь проверки администрацией.</p>
                <p class="text-xl pl-8">
                    <span class="font-bold">4.</span> Получите доступ к серверу и IP-адрес в вашем профиле.
                </p>
                <p class="text-xl pl-8"><span class="font-bold">5.</span> Подключитесь через клиент Vintage Story.</p>
                <p class="text-xl pl-4">
                    С подробными шагами и ссылками можно ознакомиться на странице
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://lasthearth.ru/start-game"
                        target="_blank"
                    >
                        "Начать игру"
                    </a>
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 3. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isRegistration = !isRegistration">
            <p class="text-2xl text-lh-primary font-bold">3. Регистрация на сайте. Что делать, если я забыл пароль?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isRegistration }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isRegistration">
            <p class="text-xl pl-4">Регистрация на сайте необходима для:</p>
            <p class="text-xl pl-8">
                <span class="font-bold">•</span> верификации игроков (мы проверяем анкеты, чтобы сохранить качество
                комьюнити);
            </p>
            <p class="text-xl pl-8"><span class="font-bold">•</span> доступа к правилам и информации о сервере;</p>
            <p class="text-xl pl-8">
                <span class="font-bold">•</span> (скоро появится) регистрации и просмотра существующих селений;
            </p>
            <p class="text-xl pl-4">
                В случае, утраты доступу к сайту (забыл пароль, не заходит) - напишите в техподдержку в нашем
                <a
                    class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                    href="https://discord.com/invite/FZb7SGrSFy"
                    target="_blank"
                >
                    Discord</a
                >.
            </p>
        </tui-expand>
    </div>

    <!-- 4. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isTroubles = !isTroubles">
            <p class="text-2xl text-lh-primary font-bold">4. Что делать если у меня не заходит на сервер?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isTroubles }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isTroubles">
            <div class="flex flex-col gap-4">
                <p class="text-xl pl-4">Первым делом стоит проверить возможные проблемы:</p>
                <p class="text-xl pl-8"><span class="font-bold">1.</span> Вы не прошли верификацию;</p>
                <p class="text-xl pl-16">
                    <span class="font-bold">•</span> возможные причины: вы еще не отправили анкету, анкету еще не
                    проверили, анкету отклонили, вы указали не игровой ник в анкете;
                </p>
                <p class="text-xl pl-16">
                    <span class="font-bold">•</span> статус вашей анкеты можно узнать на сайте в личном кабинете (статус
                    в профиле) или у администраторов в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                    >
                        Discord</a
                    >.
                </p>
                <p class="text-xl pl-8"><span class="font-bold">2.</span> У вас не та версия клиента Vintage Story:</p>
                <p class="text-xl pl-16">
                    <span class="font-bold">•</span> проверьте, совпадает ли версия клиента с той, что указана на
                    странице
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://lasthearth.ru/profile/how-play"
                        target="_blank"
                        >"Играть"</a
                    >
                    в личном кабинете.
                </p>
                <p class="text-xl pl-8"><span class="font-bold">3.</span> У вас не скачиваются модификации:</p>
                <p class="text-xl pl-16">
                    <span class="font-bold">•</span> если не удается получить доступ к сайту ModDB - гайд на починку
                    есть в канале #гайды в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                        >Discord</a
                    >
                    ;
                </p>
                <p class="text-xl pl-16">
                    <span class="font-bold">•</span> если не удается загрузить какой-то определенный мод - можно
                    написать об этом в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                        >Discord
                    </a>
                    - в чате помогут и отправят вам недостающий мод.
                </p>
                <p class="text-xl pl-8"><span class="font-bold">4.</span> Проблема с кэшем:</p>
                <p class="text-xl pl-16"><span class="font-bold">•</span> почистите папку VintagestoryData;</p>
                <p class="text-xl pl-16">
                    <span class="font-bold">•</span> для этого на Windows - нажмите "Win+R", затем введите "%APPDATA%",
                    удалите папку VintagestoryData и пробуйте перезайти;
                </p>
                <p class="text-xl pl-16">
                    <span class="font-bold">•</span> для этого на Linux путь до кеша:
                    home/USER/.config/VintagestoryData;
                </p>
                <p class="text-xl pl-4">
                    Проблема до сих пор сохраняется? Напишите тикет для техподдержки с описанием проблемы в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                    >
                        Discord</a
                    >.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 5. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isSeason = !isSeason">
            <p class="text-2xl text-lh-primary font-bold">5. Когда вайп и сколько длятся сезоны?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isSeason }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isSeason">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    Наш сервер живет долгими сезонами, каждый из которых длится до полугода. Предыдущий вайп был
                    04.07.2025.
                </p>
                <p class="text-xl pl-4">
                    Дата следующего вайпа будет объявлена заранее на сайте и в Discord. Приблизительно, текущий сезон
                    завершится не ранее 2026 г.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 6. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isHowToStart = !isHowToStart">
            <p class="text-2xl text-lh-primary font-bold">6. Я зашел на сервер, с чего мне начать?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isHowToStart }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isHowToStart">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Для начала стоит освоиться: узнать кто играет на сервере, какие
                    образованы селения, какой у них политический курс.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Затем важно определить свой путь: быть одиночкой, присоединиться к
                    чьему-нибудь поселению, или же основать свое.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Немаловажно сколотить первоначальное состояние, ведь все торговые
                    сотрудничества заключаются в валюте сервера. О том как заработать см п.7.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Советуем новичкам для начала найти союзников в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                    >
                        Discord</a
                    >
                    и освоиться вместе.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 7. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isMoney = !isMoney">
            <p class="text-2xl text-lh-primary font-bold">7. Валюта сервера, что это и какой курс?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isMoney }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isMoney">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> На сервере используется внутриигровая валюта — монеты.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Молибдохалковый сестерций - меньшая монета. Серебряный квинарий -
                    средняя монета. Золотой динарий - высшая монета.
                </p>
                <p class="text-xl pl-4"><span class="font-bold">•</span> Текущий курс:</p>
                <p class="text-xl pl-8">
                    <span class="font-bold">•</span> 1 золотой динарий = 100 серебряных квинариев. 1 серебряный квинарий
                    = 60 молибдохалковых сестерций.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Заработать можно через торговлю, ремесла и участие в экономике.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Селения часто оставляют заказы на товары или услуги в канале
                    #торговые-сделки в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                    >
                        Discord</a
                    >, кроме того, можно напрямую связаться с главами селений, чтобы узнать, какая работа или товары им
                    нужны.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> В городе-сюзерене и других городах на рыночных площадях стоят
                    торгоматы для скупки ресурсов, где также можно получить монеты.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> В крайнем случа, если вы избрали темный путь вора - вы знаете, где
                    искать.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Для новичков советуем ориентироваться на примерные цены:
                </p>
                <p class="text-xl pl-8">
                    <span class="font-bold">•</span> Слиток меди примерно от 30 до 60 молибдохалковых сестерций.
                </p>
                <p class="text-xl pl-8"><span class="font-bold">•</span> 64 палки около 16 сестерций.</p>
                <p class="text-xl pl-8"><span class="font-bold">•</span> 64 рогоза - примерно 16 сестерций.</p>
                <p class="text-xl pl-8"><span class="font-bold">•</span> Стак кожи - около 10 серебряных.</p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Предоставленные здесь цены - условные, реальные цены на товары
                    можно посмотреть в канале #торговые-сделки в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                    >
                        Discord</a
                    >
                    или узнать у игроков.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 8. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isDocsAndSuzerain = !isDocsAndSuzerain">
            <p class="text-2xl text-lh-primary font-bold">8. Что такое вольность, патенты и кто такой сюзерен?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isDocsAndSuzerain }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isDocsAndSuzerain">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    <b>Город-сюзерен</b> - селение игроков которое было выбрано по обоюдному согласию администрации и
                    претендующего, на основании количества покоренных селений, влияния и экономической силы (казны и
                    произведенных товаров) по результатам сезона.
                </p>
                <p class="text-xl pl-4">
                    <b>Купчая вольности</b> - книга-документ, предоставляемая городом сюзереном, подтверждающая статус
                    вольного человека и дающая доступ к вступлению в селения определенного типа.
                </p>
                <p class="text-xl pl-8">
                    <span class="font-bold">•</span> Документ можно приобрести в городе-сюзерене за валюту сервера в
                    городе-сюзерене.
                </p>
                <p class="text-xl pl-8">
                    <span class="font-bold">•</span> Если вы планируете играть как одиночка - покупка вольности не
                    обязательна.
                </p>
                <p class="text-xl pl-4">
                    <b>Патент на селение определенного типа</b> - книга-документ, предоставляемая городом сюзереном,
                    дающая право на основание определенного типа селения.
                </p>
                <p class="text-xl pl-8">
                    <span class="font-bold">•</span> Документ можно приобрести в городе-сюзерене за валюту сервера в
                    городе-сюзерене.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 9. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isSettlements = !isSettlements">
            <p class="text-2xl text-lh-primary font-bold">9. Где найти к кому можно присоединиться?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isSettlements }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isSettlements">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    Список всех селений и их жителей можно найти в канале #селения в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                    >
                        Discord</a
                    >.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 10. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isBagsOrViolation = !isBagsOrViolation">
            <p class="text-2xl text-lh-primary font-bold">10. Я нашел баг или нарушение правил, куда писать?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isBagsOrViolation }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isBagsOrViolation">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> В случае невозможности подключиться, крашей, неправильных рецептов,
                    нарушений правил воровства, и т.п. необходимо написать тикет через канал #тех-поддержка в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                    >
                        Discord</a
                    >.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 11. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isDeathOrTheft = !isDeathOrTheft">
            <p class="text-2xl text-lh-primary font-bold">11. Меня убили или обокрали, что делать?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isDeathOrTheft }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isDeathOrTheft">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> В первую очередь важно проверить не были ли нарушены правила
                    стороной-агрессором. Если вы нашли нарушение правил, то напишите тикет в соответствии с п.10.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 12. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div
            class="flex w-full justify-between gap-2 cursor-pointer"
            (click)="isSettlementRegistration = !isSettlementRegistration"
        >
            <p class="text-2xl text-lh-primary font-bold">
                12. Могу ли я сразу зарегистрировать город или деревню без предыдущих уровней селений?
            </p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isSettlementRegistration }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isSettlementRegistration">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Сразу же стать деревней или иным селением высокого тира не
                    получится. Нужно пройти все этапы развития: лагерь → деревня → поселок → город → региональная
                    провинция.
                </p>
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Но! Вы можете зарегистрировать несколько этапов за один день —
                    главное, чтобы они шли по порядку и каждая заявка была одобрена администрацией.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 13. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isOffer = !isOffer">
            <p class="text-2xl text-lh-primary font-bold">
                13. У меня есть предложение по модификации или концепции, куда писать?
            </p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isOffer }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isOffer">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Все предложения принимаются в специальном канале #предложения в
                    <a
                        class="text-blue-400 font-bold border-dashed border-b hover:text-blue-600 transition-all duration-100"
                        href="https://discord.com/invite/FZb7SGrSFy"
                        target="_blank"
                    >
                        Discord</a
                    >.
                </p>
            </div>
        </tui-expand>
    </div>

    <!-- 14. -->
    <div class="flex flex-col gap-2 shadow-2xs">
        <div class="flex w-full justify-between gap-2 cursor-pointer" (click)="isTeam = !isTeam">
            <p class="text-2xl text-lh-primary font-bold">14. Как мне попасть в команду проекта Last Heath?</p>
            <tui-icon
                icon="@tui.chevron-down"
                [ngClass]="{ 'rotate-180!': isTeam }"
                class="text-lh-primary transition-all"
            />
        </div>
        <tui-expand [expanded]="isTeam">
            <div class="flex flex-col gap-2">
                <p class="text-xl pl-4">
                    <span class="font-bold">•</span> Мы всегда рады новым лицам! Напишите лидерам проекта в Discord или
                    Telegram. Там же можно узнать о текущем наборе (модерация, квестоделы, строители и т.д.).
                </p>
            </div>
        </tui-expand>
    </div>
</div>
