<div class="flexible-input" [class.select-mode]="type() === 'select'" (click)="toggleDropdown()">
    <input
        *ngIf="type() === 'input'"
        type="text"
        [placeholder]="placeholder()"
        [value]="displayedValue"
        [disabled]="disabled"
        (input)="onInputChange($event)"
    />

    @if(type() === 'select') {
    <div class="flex justify-between">
        <div class="select-display" [class.text-[#8c8784]]="!displayedValue" [class.text-sm]="!displayedValue">
            {{ displayedValue || placeholder() }}
        </div>
        <img
            src="/chevron-down.svg"
            [class.rotate-180]="dropdownOpen()"
            class="transition-all duration-300 opacity-50"
        />
    </div>
    }

    <div class="dropdown" [class.dropdown--open]="dropdownOpen()" *ngIf="type() === 'select'">
        <div class="dropdown-option" *ngFor="let item of items()" (click)="selectItem(item); $event.stopPropagation()">
            {{ displayWith(item) }}
        </div>
    </div>
</div>
