<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="ExclaveCenter" [level]="3">
        <span [innerHTML]="'rules.content.settlements.types.exclaveCenter.intro' | translate"></span>
        <app-rule-link target="Settlement">{{ 'rules.content.terms.settlement' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.settlements.types.exclaveCenter.introAfter' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>{{ 'rules.content.settlements.common.requirements' | translate }}</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.location' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.population' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.noKeyPoints' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.aggressiveOnly' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.courts' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.economy' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.currency' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.architecture' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.rpDuty' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>{{ 'rules.content.settlements.common.advantages' | translate }}</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.territoryBlock' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.currencyGrant' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.blueprints' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <span [innerHTML]="'rules.content.settlements.types.exclaveCenter.raidTargetsBefore' | translate"></span>
        <app-rule-link target="TypesAndStatuses">{{ 'rules.content.terms.allSettlementTypes' | translate }}</app-rule-link>
        <span>.</span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.exclaveCenter.war' | translate }}
    </app-rule-paragraph>
</div>
