<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="City" [level]="3">
        Город — это
        <app-rule-link target="Settlement">селение</app-rule-link>
        , основанное после этапа «Посёлок», состоящее из 6-ти и более игроков, зарегистрированное на сайте, имеющее все
        основные постройки на поверхности и соответствующее следующим требованиям:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Требования:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Расположение: не далее 8.5 тыс. блоков от нулевой координаты.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Население: от 6-ти человек.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <app-rule-link target="Monument" class="ml-2">Монумент</app-rule-link>
        : 1х1х7 блоков (ш,д,в).
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Документы:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ подписанный
        <app-rule-link target="Patent">патент</app-rule-link>
        на разрешение основания города от
        <app-rule-link target="Suzerain">сюзерена</app-rule-link>
        ;
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ от 6-ти купчих
        <app-rule-link target="Volnost">вольности</app-rule-link>
        .
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Инфраструктура:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ городская площадь;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ колодец с питьевой водой;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ дороги между всеми постройками шириной не менее 3-х блоков, где это возможно;
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ дорога шириной не менее 3-х блоков до
        <app-rule-link target="Suzerain">сюзерена</app-rule-link>
        и еще одного любого поселения при его наличии. При отсутствии сухопутного пути допускается размещение буйков.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Хозяйство:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ склад, или складское помещение в уже имеющемся здании;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ амбар;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ грядки площадью от 48-ми блоков.</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Дополнительные строения:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 4-х одноэтажных строений;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 5-ти двухэтажных строений;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ здание религиозного или научного или экономического или культурного направления;
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 2-х действующих рыночных прилавков.</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Промышленность:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 1-й мастерской [кожевенная, углежог, ткацкая и т.п.];</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 1-й кузницы;</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Проведение событий: не менее 1-го события [ивента], с участием не менее 4-х игроков, за все время до получения
        данного типа.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Преимущества:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Наличие территориального блока [диаметр = 256 блоков].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность объявлять набеги на
        <app-rule-link target="TypesAndStatuses">все типы селений</app-rule-link>
        .
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность объявлять войну при наличии казус белли.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность возведения
        <app-rule-link target="Defend2">оборонительных построек</app-rule-link>
        2-го уровня.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность получить 3-х случайных торговцев.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Право получить льготный кредит от
        <app-rule-link target="Suzerain">сюзерена</app-rule-link>
        под 10% годовых [Может быть не выполнено, в случае враждебности к сюзерену].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Право основать не более 1 колонии.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Право получить чертеж на упрощенное создание сыродутных печей.
    </app-rule-paragraph>
</div>
