<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <b>3.6.1</b>
        Под диверсионными действиями понимается частичное уничтожение или выведение из строя инфраструктуры вне
        защищенной территории и не относящейся к инфраструктуре Нейтральной зоны.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>3.6.2</b>
        Для провдения диверсии должны быть веские основания. Вся цепочка должна иметь логическую обоснованность [Цель и
        весомая причина -> совершение диверсионного действия -> совершение действия, которое получает выгоду в следствии
        проведения диверсии]. Например: поломка моста для ограниченяи мобильности противника перед проведением набега на
        территорию, куда этот мост может вести. Поломка акведука, перед нападением на противника или его союзников для
        вывода из строя промышленности. И т.п.
    </app-rule-paragraph>
</div>
