<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="Region" [level]="3">
        Региональная провинция — это
        <app-rule-link target="Settlement">селение</app-rule-link>
        , основанное после этапа «Город», состоящее из 8-ми и более игроков, зарегистрированное на сайте, имеющее все
        основные постройки на поверхности и соответствующее следующим требованиям:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Требования:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Расположение: не далее 8.5 тыс. блоков от нулевой координаты.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Население: от 8-ми человек.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <app-rule-link target="Monument" class="ml-2">Монумент</app-rule-link>
        : 1х1х1 блока (ш,д,в) (или согласно патенту на улучшение селения).
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Документы:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ от 8-ми купчих
        <app-rule-link target="Volnost">вольности</app-rule-link>
        ;
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ от 10-ти книг [либо самописных, либо сюжетных] доступных для прочтения любым игрокам.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Инфраструктура:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ городская малая площадь;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ городская большая площадь;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ колодец с питьевой водой;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ крытые конюшни или небольшой порт;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ дороги между всеми постройками шириной не менее 3-х блоков, где это возможно;
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ дорога шириной не менее 3-х блоков до
        <app-rule-link target="Suzerain">сюзерена</app-rule-link>
        и еще 3-х любых поселений при их наличии. При отсутствии сухопутного пути допускается размещение буйков.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Хозяйство:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ склад, или складское помещение в уже имеющемся здании;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ амбар;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ грядки площадью от 64-х блоков.</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Дополнительные строения:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 4-х одноэтажных строений;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 6-ти двухэтажных строений;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 1-го трехэтажного строения;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ от 2-х зданий религиозного или научного или экономического или культурного направления;
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 5-ти действующих рыночных прилавков;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 1-й таверны;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ любое из: колизей, ипподром, арена, тренировочный плац, университет, библиотека, обсерватория, музей, пирамида
        и прочее подходящее по смыслу перечисленных строений и имеющее площадь не менее 33х33 блока.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Промышленность:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 2-х мастерских [кожевенная, углежог, ткацкая и т.п.];</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ от 1-й кузницы;</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ здание заготовка под будущую сталелитейную.</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Великое строение: взятый проект.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Проведение событий: не менее 3-х событий [ивентов], с участием не менее 6-ти игроков, за все время до получения
        данного типа.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Преимущества:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Наличие территориального блока [диаметр = 512 блоков].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность объявлять набеги на
        <app-rule-link target="TypesAndStatuses">все типы селений</app-rule-link>
        .
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность объявлять войну при наличии казус белли.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность возведения
        <app-rule-link target="Defend3">оборонительных построек</app-rule-link>
        3-го уровня.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Право получить льготный кредит от
        <app-rule-link target="Suzerain">сюзерена</app-rule-link>
        под 10% годовых [Может быть не выполнено, в случае враждебности к сюзерену].
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Право основать не более 2-х колоний.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Право получить чертеж на сталелитейную печь.
    </app-rule-paragraph>
</div>
