<p class="text-2xl break-words">Для того, чтобы попасть на сервер необходимо:</p>
<p class="text-2xl break-words">• Скачать Vintage Story версией 1.20.9</p>
<p class="text-2xl break-words">• Внутри игры добавить новый сервер</p>
<p class="text-2xl break-words">• Ввести ip сервера: <b>85.28.47.225</b></p>
<p class="text-2xl break-words">• Ввести пароль сервера: <b>Kexibqcthdthdvbht!!##17ONLYLAST</b></p>
<p class="text-2xl break-words">
    • В момент появления на сервере необходимо ввести ваш КОД ДЛЯ АВТОРИЗАЦИИ, который находится у вас в профиле
    командой: <b>/verify ВАШ_КОД</b>
</p>
<p class="text-2xl break-words">• Персонажа можно настроить потом, введя команду: <b>.charsel</b></p>
