<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        Правила войны все еще находятся в разработке и на данный момент включают:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.2.1</b>
        Все правила ведения боевых действий состояния набег. За исключением того, что боевые действия не ограничены
        длительностью. Рамки ночного запрета на ведение боевых действий и наличие минимального онлайна игроков
        сохраняются.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.2.2</b>
        Для объявления войны необходимо:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Предъявить свои конкретные требования и их причины тем на кого вы собираетесь напасть в канал #дипломатия (не
        нужно делать в случае ответа на объявленную войну, если защищающаяся сторона не желает выдвинуть
        контр-требований, которые будут выполнены при ее победе). Требования должны быть подкреплены доказательствами,
        либо аргументированы в рп виде и иметь достаточный вес. (Модерируется администрацией в случае спорных моментов)
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • После предъявления требований у стороны защиты есть 1 час реального времени, чтобы либо согласиться, либо
        отвергнуть требования. По истечении этого часа, либо после отказа от выполнения требований, селение агрессор в
        праве начать военные действия.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Если же сторона защиты приняла условия, то она обязана их выполнить в течении 24-х часов реального времени, и
        военные действия против нее не разрешаются. Если требования не были выполнены, сторона агрессор в праве начать
        военные действия.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • После окончания войны любым из путей, на селение, начавшее войну, накладывается кул-даун в размере 5-ти
        реальных суток.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Преимуществами войны является то, что после победы, проигравший обязан принять все те условия, что были
        выдвинуты победителем, вплоть до полного сноса всех его построек и т.п. Однако стоит помнить, что совершать
        действия после победы, которые не были включены в условия и требования - недопустимо.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • Победителем в войне считается тот, кто полностью сломал монумент противника, либо смог официально его
        принудить признать поражение. После принятия противником поражения военные действия должны быть незамедлительно
        прекращены.
    </app-rule-paragraph>
</div>
