<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="SuzerainStatus" [level]="3">
        Сюзерен — это статус, накладывающий ряд требований и преимуществ:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Требования:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Являться одним из типов селений.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Выполнение обязательств
        <app-rule-link target="Suzerain">сюзерена</app-rule-link>
        по выдаче кредитов, при условии, что селение проситель не проявляет открыто-доказанную агрессию
        <app-rule-link target="Suzerain">сюзерену</app-rule-link>
        .
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Наличие действующих рынков, где продаются купчие вольности и патенты на селения необходимых типов.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Обустроенная дорога от селения до нулевой координаты, шириной не менее 3-х блоков.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Использование исключительно валюты сервера в качестве оплаты товаров и услуг.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Поддержание экономики сервера в действующем состоянии.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Справедливое распределение дотаций полученных за очки (БИ) среди подданных селений по средством голосования всех
        селений.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>Преимущества:</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность получить 3-х случайных торговцев.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность получить территориальный блок типа «Город».
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность управлять ключевыми точками интереса.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        Возможность получить стартовый капитал в виде валюты.
    </app-rule-paragraph>
</div>
