<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="SuzerainStatus" [level]="3">
        {{ 'rules.content.settlements.types.suzerain.intro' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>{{ 'rules.content.settlements.common.requirements' | translate }}</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.suzerain.req1' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <span [innerHTML]="'rules.content.settlements.types.suzerain.req2Before' | translate"></span>
        <app-rule-link target="Suzerain">{{ 'rules.content.terms.suzerainGenitive' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.settlements.types.suzerain.req2Middle' | translate"></span>
        <app-rule-link target="Suzerain">{{ 'rules.content.terms.suzerainDativeLower' | translate }}</app-rule-link>
        <span>.</span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <span class="ml-2" [innerHTML]="'rules.content.settlements.types.suzerain.req3.before' | translate"></span>
        <app-rule-link target="Volnost">{{ 'rules.content.terms.libertiesFull' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.settlements.types.suzerain.req3.mid1' | translate"></span>
        <app-rule-link target="Patent">{{ 'rules.content.terms.patentsPlural' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.settlements.types.suzerain.req3.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.suzerain.req4' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <span class="ml-2" [innerHTML]="'rules.content.settlements.types.suzerain.req5.before' | translate"></span>
        <app-rule-link target="ServerCurrency">{{ 'rules.content.terms.serverCurrencyGenitive' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.settlements.types.suzerain.req5.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.suzerain.req6' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <span class="ml-2" [innerHTML]="'rules.content.settlements.types.suzerain.req7.before' | translate"></span>
        <app-rule-link target="BI">{{ 'rules.content.terms.bi' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.settlements.types.suzerain.req7.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>{{ 'rules.content.settlements.common.advantages' | translate }}</b>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.suzerain.adv1' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <span class="ml-2" [innerHTML]="'rules.content.settlements.types.suzerain.adv2.before' | translate"></span>
        <app-rule-link target="City">{{ 'rules.content.terms.cityStage' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.settlements.types.suzerain.adv2.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        <span class="ml-2" [innerHTML]="'rules.content.settlements.types.suzerain.adv3.before' | translate"></span>
        <app-rule-link target="Key point">{{ 'rules.content.terms.keyPointInstrumentalPlural' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.settlements.types.suzerain.adv3.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        <b>•</b>
        {{ 'rules.content.settlements.types.suzerain.adv4' | translate }}
    </app-rule-paragraph>
</div>
