<div class="p-6 flex flex-col gap-10">
    <p class="text-4xl font-bold text-lh-primary">Начать игру</p>
    <div class="flex gap-10 items-start">
        <p class="text-8xl font-extrabold text-[#bdb093] min-w-12 leading-20">1</p>
        <div class="flex flex-col gap-1">
            <p class="text-lh-primary text-2xl font-bold">Создайте аккаунт</p>
            <p class="text-lh-primary text-base">
                На нашем сервере используется собственная система авторизации игроков. Что бы начать играть у нас,
                сначала
                <a
                    class="text-blue-400 font-bold border-dashed border-b"
                    [routerLink]="userService.isAuthorize() ? ['/profile'] : ['/start-game']"
                    (click)="userService.isAuthorize() ? '' : signIn()"
                >
                    создайте аккаунт
                </a>
                .
            </p>
        </div>
    </div>

    <div class="flex gap-10 items-start">
        <p class="text-8xl font-extrabold text-[#bdb093] min-w-12 leading-20">2</p>
        <div class="flex flex-col gap-1">
            <p class="text-lh-primary text-2xl font-bold">Пройдите верификацию</p>
            <p class="text-lh-primary text-base">
                Для безопасной и комфортной игры все игроки проходят верификацию — отвечают на короткую анкету. Это
                помогает убедиться, что вы ознакомлены с
                <a class="text-blue-400 font-bold border-dashed border-b" [routerLink]="['/rules']"> правилами </a>
                и не создадите проблем другим игрокам.<br />В анкете вам <b>потребуется игровой ник</b>, поэтому не
                забудьте скачать игру с
                <a
                    class="text-blue-400 font-bold border-dashed border-b"
                    href="https://www.vintagestory.at/store/category/1-game-account-game-servers/"
                    target="_blank"
                >
                    официального сайта
                </a>
                (рекомендуется) или временно попробовать на
                <a class="text-blue-400 font-bold border-dashed border-b" href="https://fplay.su/" target="_blank">
                    fplay.su
                </a>
                (рекомендуем приобрести лицензию) и настроить ваш аккаунт.
            </p>
        </div>
    </div>

    <div class="flex gap-10 items-start">
        <p class="text-8xl font-extrabold text-[#bdb093] min-w-12 leading-20">3</p>
        <div class="flex flex-col gap-1">
            <p class="text-lh-primary text-2xl font-bold">Играйте</p>
            <p class="text-lh-primary text-base">
                <a
                    class="text-blue-400 font-bold border-dashed border-b"
                    href="https://www.vintagestory.at/store/category/1-game-account-game-servers/"
                    target="_blank"
                >
                    Войдите в игру
                </a>
                и добавьте наш сервер. Инструкции для входа доступны в личном кабинете после прохождения верификации.
            </p>
        </div>
    </div>
</div>
