<div
    [style.backgroundImage]="data().attachments[0].url ? 'url('+ data().attachments[0].url +')' : 'url(/images/screenshots/screen_1.png)'"
    class="transform transition duration-500 hover:scale-[101%] flex size-full bg-cover bg-repeat relative rounded-4xl before:brightness-60 object-center shadow-2xl before:rounded-4xl before: before:size-full before:absolute before:!backdrop-blur-2xl before:z-10"
>
    <div class="p-8 z-20 flex flex-col gap-8 items-center justify-between w-full">
        <div class="shrink-0 relative h-64 w-full shadow-2xl shadow-black/60 overflow-clip rounded-xl">
            <img [src]="data().attachments[0].url" class="h-64 w-full object-cover rounded-xl" />
        </div>
        <div class="flex flex-col gap-6 w-full items-start">
            <div class="flex flex-col gap-2 items-start">
                <h1 class="text-2xl md:text-4xl uppercase font-bold text-shadow-md text-neutral-100">
                    {{ data().name }}
                </h1>

                <div class="flex gap-3">
                    <span
                        class="bg-[#c35a17] uppercase text-neutral-100 font-bold text-xs md:text-sm px-3 p-1.5 rounded-2xl"
                    >
                        {{getSettlementTypeByKey(data().type)}}
                    </span>
                    <span
                        class="bg-green-600 uppercase text-neutral-100 font-bold text-xs md:text-sm px-3 p-1.5 rounded-2xl"
                    >
                        {{data().diplomacy}}
                    </span>
                </div>
            </div>

            <p
                class="text-base md:text-xl font-semibold text-shadow-md text-neutral-200"
                [innerHTML]="data().description"
            ></p>
            <hr class="h-px bg-neutral-200 w-full mt-2 rounded-full" />
            <div class="flex flex-wrap gap-3">
                <span class="bg-[#6f9ff8] text-neutral-100 font-bold text-xs md:text-base px-3 p-1.5 rounded-2xl">
                    {{data().leader.user_id}}
                </span>
                @for (item of data().members; track $index) {
                <span
                    class="bg-[rgb(148,90,50)] text-neutral-100 font-bold text-xs md:text-base px-3 p-1.5 rounded-2xl"
                >
                    {{item.user_id}}
                </span>
                }
            </div>

            <button
                class="text-neutral-200 border-neutral-200 hover:border-white mt-6 transition-all self-end duration-300 tracking-wider border-b border-dashed font-bold cursor-pointer hover:text-white bg-transparent py-0.5"
            >
                Подробнее
            </button>
        </div>
    </div>
</div>
