<div class="flex flex-col w-full h-full text-lh-primary gap-4 items-center">
    <p class="text-3xl font-semibold">Возможности, которые открывает титул "Барон":</p>
    <div class="flex gap-4 flex-wrap justify-center">
        <p
            class="text-2xl/7.5 font-semibold flex items-center gap-2 border-2 rounded-2xl border-amber-600 p-2 bg-transparent size-fit"
        >
            <tui-icon icon="@tui.paintbrush-vertical" class="text-3xl" /> Цветной ник в игре
        </p>
        <p
            class="text-2xl/7.5 font-semibold flex items-center gap-2 border-2 rounded-2xl border-amber-600 p-2 bg-transparent size-fit"
        >
            <tui-icon icon="@tui.sparkle" class="text-3xl" /> Роль в дискорде
        </p>
        <p
            class="text-2xl/7.5 font-semibold flex items-center gap-2 border-2 rounded-2xl border-amber-600 p-2 bg-transparent size-fit"
        >
            <tui-icon icon="@tui.lock" class="text-3xl" /> Приват площадью 2х1х1 блоков
        </p>
        <p
            class="text-2xl/7.5 font-semibold flex items-center gap-2 border-2 rounded-2xl border-amber-600 p-2 bg-transparent size-fit"
        >
            <tui-icon icon="@tui.lightbulb" class="text-3xl" /> Приоритет в предложениях
        </p>
        <p
            class="text-2xl/7.5 font-semibold flex items-center gap-2 border-2 rounded-2xl border-amber-600 p-2 bg-transparent size-fit"
        >
            <tui-icon icon="@tui.door-open" class="text-3xl" /> Заход с вайпом в первой очереди
        </p>
    </div>
    <p class="pt-4 text-3xl font-semibold">Что идет в комплекте с титулом "Барон":</p>
    <div class="flex gap-4 p-4 flex-wrap justify-center">
        @for (item of gameItems; track $index) { <app-game-item-card [data]="item"></app-game-item-card> }
    </div>
</div>
