@import 'tailwindcss';
@import './app/styles/appearances/icon.appearance.css';
:root {
    --lh-primary: #3f3c34;
    --lh-primary-2: #332c26;

    --lh-accent: #ff7920;
    --lh-accent-2: #97471b;
    --lh-accent-3: #86523b;

    --lh-danger: #720000;
    --lh-danger-hover: var(--color-red-700);
    --lh-danger-active: var(--color-red-400);

    --lh-success: var(--color-green-600);
    --lh-success-hover: var(--color-green-700);
    --lh-success-active: var(--color-green-400);
    --lh-success-disabled: #7a9d8c;

    --lh-success-2: #4ac99b;

    --lh-disabled: var(--color-gray-300);

    --lh-online: #05ad5f;
    --lh-offline: #3b3c36;

    --lh-leader: #3d5381;

    --lh-tag-purple: #9d5bd2;
    --lh-tag-purple-bg: rgba(157, 91, 210, 0.15);

    --lh-tag-blue: #4b89da;
    --lh-tag-blue-bg: rgba(75, 137, 218, 0.15);

    --lh-tag-cyan: #2cb5b6;
    --lh-tag-cyan-bg: rgba(44, 181, 182, 0.15);

    --lh-tag-gold: #f4c753;
    --lh-tag-gold-bg: rgba(244, 199, 83, 0.15);

    --lh-tag-pink: #d65db1;
    --lh-tag-pink-bg: rgba(214, 93, 177, 0.15);

    --lh-tag-lime: #a3d920;
    --lh-tag-lime-bg: rgba(163, 217, 32, 0.15);

    --lh-tag-slate: #8da3b8;
    --lh-tag-slate-bg: rgba(141, 163, 184, 0.15);

    --lh-tag-coral: #ff6b6b;
    --lh-tag-coral-bg: rgba(255, 107, 107, 0.15);

    --lh-hint: #30303056;
}

@theme {
    --color-lh-primary: var(--lh-primary);
    --color-lh-primary-2: var(--lh-primary-2);

    --color-lh-accent: var(--lh-accent);
    --color-lh-accent-2: var(--lh-accent-2);
    --color-lh-accent-3: var(--lh-accent-3);

    --color-lh-danger: var(--lh-danger);
    --color-lh-danger-hover: var(--lh-danger-hover);
    --color-lh-danger-active: var(--lh-danger-active);

    --color-lh-success: var(--lh-success);
    --color-lh-success-hover: var(--lh-success-hover);
    --color-lh-success-active: var(--lh-success-active);
    --color-lh-succes-disabled: var(--lh-success-disabled);

    --color-lh-disabled: var(--lh-disabled);

    --color-lh-online: var(--lh-online);
    --color-lh-offline: var(--lh-offline);

    --color-lh-leader: var(--lh-leader);

    --color-lh-base-01: var(--lh-base-01);
    --color-lh-base-02: var(--lh-base-02);
    --color-lh-base-03: var(--lh-base-03);

    /* Purple */
    --color-lh-tag-purple: var(--lh-tag-purple);
    --color-lh-tag-purple-bg: var(--lh-tag-purple-bg);

    /* Blue */
    --color-lh-tag-blue: var(--lh-tag-blue);
    --color-lh-tag-blue-bg: var(--lh-tag-blue-bg);

    /* Cyan */
    --color-lh-tag-cyan: var(--lh-tag-cyan);
    --color-lh-tag-cyan-bg: var(--lh-tag-cyan-bg);

    /* Gold */
    --color-lh-tag-gold: var(--lh-tag-gold);
    --color-lh-tag-gold-bg: var(--lh-tag-gold-bg);

    /* Pink */
    --color-lh-tag-pink: var(--lh-tag-pink);
    --color-lh-tag-pink-bg: var(--lh-tag-pink-bg);

    /* Lime */
    --color-lh-tag-lime: var(--lh-tag-lime);
    --color-lh-tag-lime-bg: var(--lh-tag-lime-bg);

    /* Slate */
    --color-lh-tag-slate: var(--lh-tag-slate);
    --color-lh-tag-slate-bg: var(--lh-tag-slate-bg);

    /* Coral */
    --color-lh-tag-coral: var(--lh-tag-coral);
    --color-lh-tag-coral-bg: var(--lh-tag-coral-bg);
}

html body {
    font-family: 'Advent Pro', serif !important;
    font-optical-sizing: auto;
}

a {
    cursor: pointer;
    color: var(--color-blue-400);
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
    border-bottom: 1px;
    --tw-border-style: dashed;
    border-style: dashed;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: var(--color-blue-600);
}

.words-break {
    word-break: break-word;
}

.old-paper-background {
    background-color: #e8dfc8;
    background-image: url('/old-paper.webp'), radial-gradient(circle, rgba(255, 255, 255, 0.1) 20%, transparent 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.progress {
    &[data-size='s'] {
        color: #e2d7bb;
    }
    clip-path: none !important;
    border-radius: 16px !important;
}

tui-dialog {
    .t-content {
        @apply text-base!;
        font-family: 'Advent Pro', serif !important;
        font-optical-sizing: auto;
        background-color: #e2d7bb !important;
        background-image: url('/image_1.webp') !important;
        background-repeat: repeat !important;
    }
}

.main-panel {
    background-color: #e2d7bb;
    background-image: url('/image_1.webp');
    background-repeat: repeat;
    -webkit-box-shadow: -12px 4px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -12px 4px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -12px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 16px 16px;
}

.almendra-regular {
    font-family: 'Almendra', serif;
}

tui-pulse {
    color: #ff7920 !important;
}

tui-tabs {
    font-family: 'Advent Pro', serif !important;
    font-optical-sizing: auto;
}

tui-tabs.content-tabs {
    align-items: stretch;
    width: 100%;

    button[tuiTab] {
        white-space: normal;
        flex: 1 1 0%;
        word-break: break-word;
        justify-content: center;
        padding-inline: 0.5rem;
        text-align: center;
        --tui-tab-margin: 0px !important;
    }
}

tui-hint {
    background-color: var(--lh-primary-2) !important;
    color: var(--color-white) !important;
    font-family: 'Advent Pro', serif !important;
    font-optical-sizing: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.lh-confirm-button {
    background-color: var(--lh-success);
    color: white;
    cursor: pointer;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    border-radius: var(--radius-lg);
    align-self: flex-start;
    padding-block: calc(var(--spacing) * 1.5);
    padding-inline: calc(var(--spacing) * 2.5);
    margin-top: calc(var(--spacing) * 2);
    transition: all 0.3s ease-in-out;
    &:disabled {
        background-color: var(--lh-success-disabled);
        pointer-events: none;
    }
    &:hover {
        background-color: var(--color-lh-success-hover);
    }
}

.lh-cancel-button {
    background-color: var(--lh-danger);
    color: white;
    cursor: pointer;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    border-radius: var(--radius-lg);
    align-self: flex-start;
    padding-block: calc(var(--spacing) * 1.5);
    padding-inline: calc(var(--spacing) * 2.5);
    margin-top: calc(var(--spacing) * 2);
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: var(--color-lh-danger-hover);
    }
}
tui-pulse.online {
    color: var(--color-lh-online) !important;
}
tui-pulse.offline {
    color: var(--color-lh-offline) !important;
}
