@import "tailwindcss";

html body {
    @apply !text-base;
    font-family: "Advent Pro", serif !important;
    font-optical-sizing: auto;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
    cursor: pointer;
}

.old-paper-background {
    background-color: #e8dfc8;
    background-image: url('/old-paper.jpg'), radial-gradient(circle, rgba(255, 255, 255, 0.1) 20%, transparent 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
