<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        Правила захвата точек являются нововведением и могут содержать неточности.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.1</b>
        Управлением точки занимается Сюзерен, чья сторона ее контролирует.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.2</b>
        Одновременно можно контролировать не более 2-х точек.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.3</b>
        Улучшение и стройка на точках происходит исключительно Имперскими мастерами, за исключением декоративной
        составляющей, укрепления существующих дверей/ворот и установки-восстановления дверей/ворот в том же объеме в
        котором они были до набега на точку.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.4</b>
        Запрос на улучшение точки происходит через написание тикета в дискорд.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.5</b>
        Боевые действия за точки, происходят идентично набегу, за исключением:
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • При объявлении набега любым селением со стороны Сюзерена он начинается для всей стороны. То есть участвовать в
        набеге может каждое селение от стороны. Для защиты распространяется тоже самое правило.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="3">
        • Запрещена установка лестниц, при ведении боевых действий, на сооружения, не являющиеся оборонительными
        внешними стенами.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">• Для захвата точки необходимо разрушить монумент точки.</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        • После совершенного набега (удачный или не удачный) на обе стороны объявляется кулдаун на его повторное
        проведение на эту конкретную точку в 6 реальных часов.
    </app-rule-paragraph>
    <app-rule-paragraph [level]="3">
        • Если в течение последних 7 реальных календарных дней не зафиксировано ни одного периода продолжительностью не
        менее 1 часа непрерывного времени, в который на сервере одновременно присутствовало 4 или более игроков
        противоположной фракции, то разрешается инициировать набег с целью захвата ключевой точки данной фракции. При
        этом время одновременного присутствия 4 и более игроков противоположной фракции, приходящееся на интервал с
        19:00 до 08:00 МСК, не учитывается при определении наличия указанного периода.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.6</b>
        Для захвата нейтральной ключевой точки - так же необходимо объявить набег. В данном случае обе стороны, могут
        объявить набег одновременно, в таком случае точку захватит тот, кто завладеет наибольшим количеством частей
        монумента точки и предоставит доказательства этого.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.7</b>
        При потере точки стороной и обратном ее захвате, уровень точки понижается на 1 ступень от предыдущего уровня, до
        которого эта сторона ее улучшила.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.8</b>
        После захвата точки, захватившие обязаны написать тикет-запрос на адаптацию точки под них и соблюдать правило
        неприкосновенности любых блоков и объектов на точке до получения разрешения от Администрации.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.9</b>
        Сюзерен может отказаться от контролируемой им точки и оставить ее. Для этого необходимо написать тикет в дискорд
        и заявление в дипломатии. После чего точка будет сброшена к изначальному состоянию и считаться ничьей.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.10</b>
        Начисление очков Благосклонности Императора (БИ) происходит с момента подтверждения администратором контроля
        стороной точки. Суммы начислений равны 2 очка за 1 реальный час с округлением в меньшую сторону.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.11</b>
        Улучшение точек происходит путем написания тикет-запроса с указанием уровня повышения и тратой очков БИ на это.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>5.3.12</b>
        Прочность каждого блока монумента точки не может превышать 300 единиц.
    </app-rule-paragraph>
</div>
