@let isAuth = userAuth$ | async;
@let authChecked = isAuthChecked$ | async;

@if (!isAuth && authChecked) {
    <app-welcome
        [class.scroll]="isSetScrollClass"
        (onScroll)="onWelcomeScroll()"
        class="absolute size-full welcome z-[200]"
    />
}

@if (isAuth || isWelcomeHide) {
    <div>
        <div class="flex justify-center">
            <app-header class="w-full xl:w-[60%]" />
        </div>

        <router-outlet />
    </div>

    <div class="flex justify-center">
        <app-footer class="w-full xl:w-[60%] main-panel rounded-t-xl! rounded-b-none!" />
    </div>
}
