:host {
    display: block;
}

:host ::ng-deep .donate-shop-panel {
    .flexible-input {
        input,
        textarea,
        .select-display {
            font-size: 18px;
        }

        .select-display {
            min-height: 26px;
        }

        .dropdown-option {
            font-size: 18px;
        }
    }
}
