<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.theft.p3_1_1' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.theft.p3_1_2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">{{ 'rules.content.actions.theft.canBreakHeading' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">◦ {{ 'rules.content.actions.theft.canBreak1' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ {{ 'rules.content.actions.theft.canBreak2' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        ◦ {{ 'rules.content.actions.theft.canBreak3' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">{{ 'rules.content.actions.theft.canStealVehicles' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.canPlaceLadders' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.armorLimit' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.defenseRule' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.canHarvest' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.theft.p3_1_3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.mustOnline' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.cooldown' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.targetOnline' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.finishAfterLogout' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.noChisel' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.noTemporalGears' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.noReinforce' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.noBackpackStorage' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.screenshots' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="3">
        {{ 'rules.content.actions.theft.noBypass' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.theft.p3_1_4' | translate"></span>
    </app-rule-paragraph>
</div>
