# EditorConfig is awesome: https://editorconfig.org

root = true

# Настройки для всех файлов
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Настройки для HTML файлов
[*.{html,htm}]
max_line_length = 120
indent_style = space
indent_size = 2
html_attribute_quotemark = double
html_indent_inner_html = true
