p {
    text-align: justify;
}


.old-paper-background {
    background-color: #e8dfc8;
    background-image: url('/old-paper.jpg'), radial-gradient(circle, rgba(255, 255, 255, 0.1) 20%, transparent 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.content {
    background: rgba(255, 248, 220, 0.8);
    border: 2px solid rgba(139, 69, 19, 0.5);
    border-radius: 12px;
    padding: 30px;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'montserrat';
    color: #5a4635;
}
