<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="1">
        <b>6.1</b>
        Администратор обязан принимать решения и совершать действия исключительно во благо проекта. Администраторы всегда несут ответственность за свои действия.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.2</b>
        Администратор обязан быть вежливым и приветливым. Его задача как администратора - разрешить любую ситуацию, с которой он может столкнуться.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.3</b>
        Администратор обязан относиться с уважением ко всем игрокам, независимо от его личного мнения о них.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.4</b>
        Администратор обязан соблюдать конфиденциальность. Распространение любых сведений, обсуждаемых внутри команды администрации, запрещено.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.5</b>
        Администраторы должны использовать свои полномочия только для модерирования сервера. Любое использование полномочий в личных целях запрещено.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.6</b>
        Администратор не имеет права участвовать в процессе разрешения конфликтной (спорной) ситуации, если он является одной из сторон участников данной ситуации.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.7</b>
        Администрации запрещена игра на сервере с технических аккаунтов, на которых есть OP.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.8</b>
        Коммуникация между администрацией и игроками по вопросам решения игровых проблем осуществляется через систему тикетов или в специализированных каналах. Обсуждение в личных сообщениях на такие темы запрещено.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.9</b>
        Рассмотрение тикетов происходит в течение 3-х суток с момента открытия. Актуальность и свежесть темы тикета влияет на то будет ли он рассмотрен.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.10</b>
        Рассмотрение регистраций селений происходит в течение суток с момента подачи регистрации.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.11</b>
        При проверках администраторы строго следуют актуальной редакции правил, описанной на сайте. В исключительных или спорных ситуациях (в контексте, не намеренного нарушения) администраторы могут пойти вразрез правил, опираясь на логику и объективный анализ ситуации.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.12</b>
        Предложения принимаются на рассмотрение администрацией при наборе 10 реакций и больше. Конечное решение за добавлением тех или иных правок или модификаций, за администрацией. В случае отказа игрок получит развернутый ответ на свое предложение. Срок рассмотрения предложений составляет от 3-х до 7-ми дней.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.13</b>
        Предложения и спорные ситуации рассматриваются коллегией, состоящей не менее чем из 3-х администраторов. Принятое администрацией решение является неоспоримым.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.14</b>
        Порядок выбора наказания для любого администратора в случае нарушения регламента: анализ ситуации административным составом; вынесение решения в виде предупреждения или отстранения от должности.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="1">
        <b>6.15</b>
        Ранги администраторов:
        <br />
        *Один человек может занимать несколько ролей.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>6.15.1</b>
        Администратор - финальная инстанция, отвечает за редакцию правил, приоритет голоса для разрешения игровых спорных моментов, имеет все доступы в дискорде, гм-аккаунт.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>6.15.2</b>
        Тех-администратор - имеет гм-аккаунт, выполняет действия связанные с выдачей предметов, или разрешением багов, имеет доступ к логам.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>6.15.3</b>
        Модератор - следит за соблюдением порядка в дискорде и игровом чате.
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <b>6.15.4</b>
        Ивент-мейкер - имеет специальный гм-аккаунт, выполняет работу по созданию ивентов. Подчиняется всем вышеперечисленным рангам.
    </app-rule-paragraph>
</div>
