<div class="main relative flex justify-center items-center">
    <div
        [class.!min-w-[130%]]="isBigSize()"
        [class.!h-[110%]]="isBigSize()"
        class="ember-card flex px-6 bg-[url('/br.webp')] bg-cover bg-center size-full flex-col gap-2 lg:gap-6 rounded-4xl justify-center items-center shadow-lg shadow-[#1a110d]/60 border border-[#8a5a3a]/30 card-tilt"
    >
        <div
            class="absolute inset-0 z-20 pointer-events-none particles"
            [class.particles-gold]="ratingPlace() === '1'"
            [class.particles-silver]="ratingPlace() === '2'"
            [class.particles-bronze]="ratingPlace() === '3'"
        ></div>
        <app-image-loader
            [src]="userImage() || '/default-avatar.png'"
            class="size-12 lg:size-14 xl:size-16 2xl:size-20 z-30"
            containerClass="rounded-full"
            objectFit="cover"
            alt="Аватар игрока"
        />
        <p class="text-center nick-text text-shadow-2xl font-semibold z-30 text-[#f5eedd]">
            {{ playerName() }}
        </p>
        <p
            [class.gold-text]="ratingPlace() === '1'"
            [class.silver-text]="ratingPlace() === '2'"
            [class.bronze-text]="ratingPlace() === '3'"
            class="rating-text text-shadow-2xl font-extrabold z-30 rank-text"
        >
            {{ ratingPlace() }}
        </p>
        <div class="flex flex-col gap-1 justify-center items-center">
            <p class="count-text text-shadow-2xl text-shadow-2xl font-semibold z-30 text-[#f5eedd]">
                {{ count() }}
            </p>
            <p class="type-text opacity-50 lowercase text-shadow-2xl font-semibold z-30 text-[#f5eedd]">
                {{ type() }}
            </p>
        </div>
    </div>
</div>
