<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="1">
        <span [innerHTML]="'rules.content.colonization.intro.before' | translate"></span>
        <app-rule-link target="Raid">{{ 'rules.content.terms.raidGenitive' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.intro.mid1' | translate"></span>
        <app-rule-link target="War">{{ 'rules.content.terms.warGenitive' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.intro.mid2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.colonization.req1.before' | translate"></span>
        <app-rule-link target="City">{{ 'rules.content.terms.cityGenitive' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.req1.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">{{ 'rules.content.colonization.req2' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.colonization.req3.before' | translate"></span>
        <app-rule-link target="P3_1">{{ 'rules.content.terms.theftPrepositional' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.req3.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.colonization.req4.before' | translate"></span>
        <app-rule-link target="Raid">{{ 'rules.content.terms.raidNominative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.req4.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2">{{ 'rules.content.colonization.req5' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="2" class="font-bold">{{ 'rules.content.colonization.campTitle' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="3" class="font-bold">{{ 'rules.content.settlements.common.requirements' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.colonization.camp.location.before' | translate"></span>
        <app-rule-link target="Neutral zone">{{ 'rules.content.terms.neutralZoneGenitive' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.camp.location.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.camp.population' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.colonization.camp.monumentBefore' | translate"></span>
        <app-rule-link target="Monument">{{ 'rules.content.terms.monument' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.camp.monumentAfter' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.camp.infrastructure' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.camp.economyHeading' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="5">◦ {{ 'rules.content.colonization.camp.storage' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.camp.defenses' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="3" class="font-bold">{{ 'rules.content.settlements.common.advantages' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.colonization.camp.advantages.before' | translate"></span>
        <app-rule-link target="Camp">{{ 'rules.content.terms.campNominative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.camp.advantages.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="2" class="font-bold">{{ 'rules.content.colonization.villageTitle' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="3" class="font-bold">{{ 'rules.content.settlements.common.requirements' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.colonization.village.location.before' | translate"></span>
        <app-rule-link target="Neutral zone">{{ 'rules.content.terms.neutralZoneGenitive' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.village.location.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.village.population' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.colonization.village.monumentBefore' | translate"></span>
        <app-rule-link target="Monument">{{ 'rules.content.terms.monument' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.village.monumentAfter' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.village.documentsHeading' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="5">
        ◦ {{ 'rules.content.colonization.village.patentBefore' | translate }}
        <app-rule-link target="Patent">{{ 'rules.content.terms.patent' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.village.patentAfter' | translate"></span>
        <app-rule-link target="GovernorEstate">{{ 'rules.content.terms.governorGenitive' | translate }}</app-rule-link>
        <span>;</span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="5">
        ◦ {{ 'rules.content.colonization.village.libertiesBefore' | translate }}
        <app-rule-link target="Volnost">{{ 'rules.content.terms.liberties' | translate }}</app-rule-link>
        <span>.</span>
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.village.infrastructureHeading' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="5">◦ {{ 'rules.content.colonization.village.well' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="5">
        ◦ {{ 'rules.content.colonization.village.paths' | translate }}
    </app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.village.economyHeading' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="5">◦ {{ 'rules.content.colonization.village.storage' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="5">◦ {{ 'rules.content.colonization.village.economyChoice' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.village.additionalBuildings' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">{{ 'rules.content.colonization.village.defenses' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="3" class="font-bold">{{ 'rules.content.settlements.common.advantages' | translate }}</app-rule-paragraph>

    <app-rule-paragraph [level]="4">
        <span [innerHTML]="'rules.content.colonization.village.advantages.before' | translate"></span>
        <app-rule-link target="Village">{{ 'rules.content.terms.villageNominative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.colonization.village.advantages.after' | translate"></span>
    </app-rule-paragraph>
</div>
