<div class="flex flex-col gap-3">
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.kills.p3_2_1.before' | translate"></span>
        <app-rule-link target="P3_1">{{ 'rules.content.actions.kills.theftRulesLink' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.actions.kills.p3_2_1.after' | translate"></span>
    </app-rule-paragraph>
    <app-rule-paragraph [level]="2">
        <span [innerHTML]="'rules.content.actions.kills.p3_2_2.before' | translate"></span>
        <app-rule-link target="P3_4_5_3">{{ 'rules.content.actions.kills.aggressiveCourseLink' | translate }}</app-rule-link>
        <span>.</span>
    </app-rule-paragraph>
</div>
