<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="Empire">
        <span [innerHTML]="'rules.content.terminology.empire' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Settlement">
        <span [innerHTML]="'rules.content.terminology.settlement' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Neutral zone">
        <span [innerHTML]="'rules.content.terminology.neutralZone.before' | translate"></span>
        <app-rule-link target="Empire">{{ 'rules.content.terms.empireAdjective' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.terminology.neutralZone.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Key point">
        <span [innerHTML]="'rules.content.terminology.keyPoint.before' | translate"></span>
        <app-rule-link target="Neutral zone">{{ 'rules.content.terms.neutralZoneDative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.terminology.keyPoint.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Suzerain">
        <span [innerHTML]="'rules.content.terminology.suzerain.intro' | translate"></span>
        <app-rule-link target="Settlement">{{ 'rules.content.terms.settlementDative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.terminology.suzerain.introAfter' | translate"></span>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.suzerain.way1' | translate }}
        </app-rule-paragraph>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.suzerain.way2' | translate }}
        </app-rule-paragraph>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.suzerain.way3' | translate }}
        </app-rule-paragraph>
        <span [innerHTML]="'rules.content.terminology.suzerain.criteriaIntro' | translate"></span>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.suzerain.criterion1' | translate }}
        </app-rule-paragraph>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.suzerain.criterion2' | translate }}
        </app-rule-paragraph>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.suzerain.criterion3' | translate }}
        </app-rule-paragraph>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.suzerain.criterion4' | translate }}
        </app-rule-paragraph>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Great building">
        <span [innerHTML]="'rules.content.terminology.greatBuilding' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="BI">
        <span [innerHTML]="'rules.content.terminology.imperialFavor.intro' | translate"></span>
        <app-rule-link target="Suzerain">{{ 'rules.content.terms.suzerainDative' | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.terminology.imperialFavor.introAfter' | translate"></span>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.imperialFavor.item1' | translate }}
            <app-rule-link target="Key point">{{ 'rules.content.terms.keyPointGenitivePlural' | translate }}</app-rule-link>
            <span>;</span>
        </app-rule-paragraph>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.imperialFavor.item2Before' | translate }}
            <app-rule-link target="Great buildings">{{ 'rules.content.terms.greatBuildingGenitivePlural' | translate }}</app-rule-link>
            <span>;</span>
        </app-rule-paragraph>
        <app-rule-paragraph [level]="1">
            <b>•</b>
            {{ 'rules.content.terminology.imperialFavor.item3' | translate }}
        </app-rule-paragraph>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Defend land">
        <span [innerHTML]="'rules.content.terminology.protectedLand' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Monument">
        <span [innerHTML]="'rules.content.terminology.monument' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph>
        <span [innerHTML]="'rules.content.terminology.serverCurrency' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Patent">
        <span [innerHTML]="'rules.content.terminology.imperialServant' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Patent">
        <span [innerHTML]="'rules.content.terminology.patentFoundation' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Patent">
        <span [innerHTML]="'rules.content.terminology.patentImprovement' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Volnost">
        <span [innerHTML]="'rules.content.terminology.charterOfLiberties' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Raid">
        <span [innerHTML]="'rules.content.terminology.raid' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="War">
        <span [innerHTML]="'rules.content.terminology.war' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Political course">
        <span [innerHTML]="'rules.content.terminology.politicalCourse.before' | translate"></span>
        <app-rule-link target="Diplomacy">{{ 'rules.content.terms.diplomacy' | translate }}</app-rule-link>
        <span>.</span>
    </app-rule-paragraph>
</div>
