<div class="flex flex-col gap-3">
    <app-rule-paragraph anchor="Empire">
        <span [innerHTML]="'rules.content.terminology.empire' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Settlement">
        <span [innerHTML]="'rules.content.terminology.settlement' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Neutral zone">
        <span [innerHTML]="'rules.content.terminology.neutralZone.before' | translate"></span>
        <app-rule-link target="Empire">{{ "rules.content.terms.empireAdjective" | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.terminology.neutralZone.after1' | translate"></span>
        <app-rule-link target="ExclaveCenter">
            {{ "rules.content.terms.centralSettlementNominative" | translate }}
        </app-rule-link>
        <span [innerHTML]="'rules.content.terminology.neutralZone.after2' | translate"></span>
        <app-rule-link target="Homestead">
            {{ "rules.content.terms.homesteadGenitivePluralLower" | translate }}
        </app-rule-link>
        <span [innerHTML]="'rules.content.terminology.neutralZone.after3' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Key point">
        <span [innerHTML]="'rules.content.terminology.keyPoint.before' | translate"></span>
        <app-rule-link target="Neutral zone">{{ "rules.content.terms.neutralZoneDative" | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.terminology.keyPoint.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Defend land">
        <span [innerHTML]="'rules.content.terminology.protectedLand' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Monument">
        <span [innerHTML]="'rules.content.terminology.monument.before' | translate"></span>
        <app-rule-link target="Settlement">{{ "rules.content.terms.settlementAccusative" | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.terminology.monument.after1' | translate"></span>
        <app-rule-link target="Defend1">
            {{ "rules.content.terms.defensiveStructures" | translate }}
        </app-rule-link>
        <span [innerHTML]="'rules.content.terminology.monument.after2' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="ServerCurrency">
        <span [innerHTML]="'rules.content.terminology.serverCurrency' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="ImperialServant">
        <span [innerHTML]="'rules.content.terminology.imperialServant' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Patent">
        <span [innerHTML]="'rules.content.terminology.patentFoundation.before' | translate"></span>
        наместником
        <span [innerHTML]="'rules.content.terminology.patentFoundation.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Patent">
        <span [innerHTML]="'rules.content.terminology.patentImprovement.before' | translate"></span>
        наместником
        <span [innerHTML]="'rules.content.terminology.patentImprovement.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Volnost">
        <span [innerHTML]="'rules.content.terminology.charterOfLiberties.before' | translate"></span>
        наместником
        <span [innerHTML]="'rules.content.terminology.charterOfLiberties.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="GovernorEstate">
        <span [innerHTML]="'rules.content.terminology.governorEstate.before' | translate"></span>
        <app-rule-link target="Empire">{{ "rules.content.terms.empireGenitive" | translate }}</app-rule-link>
        <span [innerHTML]="'rules.content.terminology.governorEstate.after' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Raid">
        <span [innerHTML]="'rules.content.terminology.raid' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="War">
        <span [innerHTML]="'rules.content.terminology.war' | translate"></span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="Political course">
        <span [innerHTML]="'rules.content.terminology.politicalCourse.before' | translate"></span>
        <app-rule-link target="Diplomacy">{{ "rules.content.terms.diplomacy" | translate }}</app-rule-link>
        <span>.</span>
    </app-rule-paragraph>

    <app-rule-paragraph anchor="ImperialLegalForce">
        <span [innerHTML]="'rules.content.terminology.imperialLegalForce.before' | translate"></span>
        <app-rule-link target="ExclaveCenter">
            {{ "rules.content.terms.exclaveCenterInstrumental" | translate }}
        </app-rule-link>
        <span [innerHTML]="'rules.content.terminology.imperialLegalForce.after' | translate"></span>
    </app-rule-paragraph>
</div>
